# Prediccion de Default en Prestamos

Para este proyecto utilizaremos un sample de los datos de Lending Club. La idea es predecir si cierto usuario cometera Default basado en informacion que la plataforma recolecta. Esto nos ayudara a mejorar la metodologia/pipeline de prestamo.

# Descripcion



Contiene los prestamos de esta plataforma:

    periodo 2007-2017Q3.
    887mil observaciones, sample de 100mil
    150 variables
    Target: loan status

# Objetivo

Realizar un ETL y un EDA

## ETL

0. Limpia los datos de tal manera que al final del ETL queden en formato `tidy`.
1. Asegurate de cargar y leer los datos
2. Crea una tabla donde se guarde el nombre de la columna y el tipo de dato: (`column_name`,   `type`).
3. Asegurate de pensar cual es el tipo de dato correcto. Porque elejiste strig/object o float o int?. No hay respuestas incorrectas como tal, pero tienes que justificar tu decision.
4. Maneja missings o nans de la manera adecuada. Justifica cada decision

## EDA

0. Preparar lo datos para un pipeline de datos
1. Quitar columnas inservibles 
2. Imputar valores
3. Mantener replicabildiad y reproducibilidad

**No olvides anotar tus justificaciones en celdas para recordar cuando te toque explicarlo.** Puedes agregar el numero de celdas que necesites para poner tu explicacion y el codigo, solo manten la estructura.

# ETL

In [103]:
import pandas as pd
import numpy as np

Vas a obtener 2 errores, solucionalo con los visto en clase.  
Tip: Se arreglan con argumentos adicionales de la funcion `read_csv`  
Documentacion: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [104]:
import requests
import gzip
import pandas as pd
from io import BytesIO
import csv

# URL del archivo CSV comprimido
archivo_url = 'https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true'

# Obtener el contenido del archivo (ignorando la verificación SSL)
respuesta = requests.get(archivo_url, verify=False)

# Usar BytesIO para tratar el contenido binario
archivo_comprimido = BytesIO(respuesta.content)

# Inicializar una lista para almacenar las filas con problemas
filas_erroneas = []

# Descomprimir y leer el CSV
with gzip.open(archivo_comprimido, 'rt', encoding='utf-8') as archivo:
    # Detectar automáticamente el delimitador
    muestra = archivo.read(2048)
    archivo.seek(0)
    dialecto = csv.Sniffer().sniff(muestra)

    # Función personalizada para manejar las filas problemáticas
    def manejar_filas_erroneas(fila):
        filas_erroneas.append(fila)
        return None  # Excluir la fila problemática del DataFrame principal

    # Cargar el CSV usando el motor 'python' y capturar filas problemáticas
    datos_prestamos = pd.read_csv(
        archivo,
        delimiter=dialecto.delimiter,
        on_bad_lines=manejar_filas_erroneas,
        engine='python'  # Usar el motor 'python' para permitir la función personalizada
    )

# Mostrar las filas problemáticas, si existen
if filas_erroneas:
    print("\nFilas problemáticas:")
    for fila in filas_erroneas:
        print(fila)
else:
    print("\nNo se encontraron filas problemáticas.")

# Mostrar la forma (dimensiones) del DataFrame
print(f"\nDimensiones del DataFrame: {datos_prestamos.shape}")

datos_prestamos
print(datos_prestamos.shape)

/root/fdd_o24Alberto/tareas/195581/pandas/venv/lib/python3.12/site-packages/urllib3/connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'github.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
/root/fdd_o24Alberto/tareas/195581/pandas/venv/lib/python3.12/site-packages/urllib3/connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'github.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
/root/fdd_o24Alberto/tareas/195581/pandas/venv/lib/python3.12/site-packages/urllib3/connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'raw.githubusercontent.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

No se encontraron filas problemáticas.

Dimensiones del DataFrame: (100000, 151)
(100000, 151)

Aquí lo que hago es imprimir la tabla para conocer que tipos de datos tenemos. Cuántos NaN hay, etc.

In [105]:
df = pd.DataFrame(datos_prestamos)
df

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

Listamos las columnas en una lista para conocerlas

In [106]:
columns = df.columns
print(columns)
print(datos_prestamos.columns.tolist())

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)
['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'disbursement_method', 'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

## Tabla (column_name, type)

Revisa el metodo pd.DataFrame.dtypes. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [107]:
# column_types =
unique_dtypes = df.dtypes.unique()

print("Unique Data Types in the DataFrame:")
for dtype in unique_dtypes:
    print(dtype)

Unique Data Types in the DataFrame:
int64
float64
object

## Cargar descripcion de columnas

La siguiente tabla tiene una descripcion del significado de cada columna

In [108]:

! pip install openpyxl
! pip install certifi
! pip install --upgrade certifi

Requirement already satisfied: openpyxl in ./venv/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in ./venv/lib/python3.12/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: certifi in ./venv/lib/python3.12/site-packages (2024.8.30)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: certifi in ./venv/lib/python3.12/site-packages (2024.8.30)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [109]:

import certifi

# Download the Excel file with SSL verification
url = 'https://resources.lendingclub.com/LCDataDictionary.xlsx'
response = requests.get(url, verify=certifi.where())

# Save the content to a local file
with open('LCDataDictionary.xlsx', 'wb') as f:
    f.write(response.content)

# Load the Excel file with the openpyxl engine
datos_dict = pd.read_excel('LCDataDictionary.xlsx', engine='openpyxl')

# Rename columns
datos_dict.columns = ['feature', 'description']

# Display the DataFrame
print(datos_dict.head())

datos_dict = pd.read_excel(
    'https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']

                feature                                        description
0        acc_now_delinq  The number of accounts on which the borrower i...
1  acc_open_past_24mths         Number of trades opened in past 24 months.
2            addr_state  The state provided by the borrower in the loan...
3              all_util              Balance to credit limit on all trades
4            annual_inc  The self-reported annual income provided by th...

Impresión del diccionario

In [110]:
datos_dict

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

### Pickle

Crea codigo para **guardar** y **cargar** el DataFrame de `datos_dict` creada en las celdas anteriores en formato **pickle**

In [111]:
# COdigo guardar
datos_dict.to_pickle("datos_dict.pkl")

print("Guarde el dataframe en 'datos_dict.pkl'")

Guarde el dataframe en 'datos_dict.pkl'

In [112]:
# Codigo para cargar
datos_dict_cargado = pd.read_pickle("datos_dict.pkl")

print("DataFrame cargado desde 'datos_dict.pkl'")
print(datos_dict_cargado.head())

DataFrame cargado desde 'datos_dict.pkl'
                feature                                        description
0        acc_now_delinq  The number of accounts on which the borrower i...
1  acc_open_past_24mths         Number of trades opened in past 24 months.
2            addr_state  The state provided by the borrower in the loan...
3              all_util              Balance to credit limit on all trades
4            annual_inc  The self-reported annual income provided by th...

## Tipos de Datos

Realiza las transformaciones o casteos (casting) que creas necesarios a tus datos de tal manera que el typo de dato sea adecuado. Al terminar recrea la tabla `column_types` con los nuevos tipos.

No olvides anotar tus justificaciones para recordar cuando te toque explicarlo.

Aquí lo que hice es conocer los tipos de datos que tiene nuestra tabla datos_prestamos y asociarlos a un dataframe para manipularlo más fácil

In [113]:
df = pd.DataFrame(datos_prestamos)

unique_dtypes = df.dtypes.unique()

print("Unique Data Types in the DataFrame:")
for dtype in unique_dtypes:
    print(dtype)

Unique Data Types in the DataFrame:
int64
float64
object

In [114]:
# Manejos de tipos 1
# Tu codigo aqui
# Get a list of columns with data type int64
int64_columns = [col for col in df.columns if df[col].dtype == 'int64']

if int64_columns:
    for column in int64_columns:
        print(f"\nProcessing column: {column}")

        # Convert to numeric, ignoring errors (non-numeric values -> NaN)
        df[column] = pd.to_numeric(df[column], errors='coerce')

        # Drop NaN values to retain integer data type
        df[column].dropna(inplace=True)

        # Calculate basic statistics
        max_value = df[column].max()
        min_value = df[column].min()
        avg_value = df[column].mean()

        # Calculate quantiles (25th, 50th (median), and 75th percentiles)
        quantiles = df[column].quantile([0.25, 0.5, 0.75])

        # Display results
        print(f"Max: {max_value}")
        print(f"Min: {min_value}")
        print(f"Average: {avg_value}")
        print("\nQuantiles:")
        print(quantiles)
else:
    print("No columns with data type 'int64' found in the DataFrame.")

Processing column: Unnamed: 0
Max: 99999
Min: 0
Average: 49999.5

Quantiles:
0.25    24999.75
0.50    49999.50
0.75    74999.25
Name: Unnamed: 0, dtype: float64

Processing column: id
Max: 38098114
Min: 57167
Average: 30299954.27891

Quantiles:
0.25    27370147.0
0.50    30525558.5
0.75    34382007.0
Name: id, dtype: float64

Como podemos observar, tenemos dos columnas númericas que se pueden calcular su estadística descriptiva

In [ ]:
#Le das como parametro el dataframe y la columnas
def cast_column_to_int32(df, column_name):
    try:
        # Cast the specified column to int32
        df[column_name] = df[column_name].astype('int32')
        print(f"Column '{column_name}' successfully cast to int32.")
    except KeyError:
        print(f"Error: Column '{column_name}' not found in the DataFrame.")
    except ValueError as e:
        print(f"Error casting column '{column_name}': {e}")

    return df

cast_column_to_int32(df, 'id')
cast_column_to_int32(df, 'Unnamed: 0')

Column 'id' successfully cast to int32.
Column 'Unnamed: 0' successfully cast to int32.

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
# Get a list of columns with data type float64
int64_columns = [col for col in df.columns if df[col].dtype == 'float64']

if int64_columns:
    for column in int64_columns:
        print(f"\nProcessing column: {column}")

        # Convert to numeric, ignoring errors (non-numeric values -> NaN)
        df[column] = pd.to_numeric(df[column], errors='coerce')

        # Drop NaN values to retain integer data type
        df[column].dropna(inplace=True)

        # Calculate basic statistics
        max_value = df[column].max()
        min_value = df[column].min()
        avg_value = df[column].mean()

        # Calculate quantiles (25th, 50th (median), and 75th percentiles)
        quantiles = df[column].quantile([0.25, 0.5, 0.75])

        # Display results
        print(f"Max: {max_value}")
        print(f"Min: {min_value}")
        print(f"Average: {avg_value}")
        print("\nQuantiles:")
        print(quantiles)
else:
    print("No columns with data type 'int64' found in the DataFrame.")

Processing column: member_id
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: member_id, dtype: float64

Processing column: loan_amnt
Max: 35000.0
Min: 1000.0
Average: 14886.93

Quantiles:
0.25     8000.0
0.50    13050.0
0.75    20000.0
Name: loan_amnt, dtype: float64

Processing column: funded_amnt
Max: 35000.0
Min: 1000.0
Average: 14886.93

Quantiles:
0.25     8000.0
0.50    13050.0
0.75    20000.0
Name: funded_amnt, dtype: float64

Processing column: funded_amnt_inv
Max: 35000.0
Min: 1000.0
Average: 14883.9105

Quantiles:
0.25     8000.0
0.50    13050.0
0.75    20000.0
Name: funded_amnt_inv, dtype: float64

Processing column: int_rate
Max: 26.06
Min: 6.0
Average: 13.2780734

Quantiles:
0.25    10.15
0.50    12.99
0.75    15.61
Name: int_rate, dtype: float64

Processing column: installment
Max: 1408.13
Min: 30.42
Average: 437.3318244000001

Quantiles:
0.25    261.64
0.50    380.18
0.75    573.32
Name: installment, dtype: float64

Processing column: annual_inc
Max: 7500000.0
Min: 4000.0
Average: 74689.2425825

Quantiles:
0.25    45000.0
0.50    64000.0
0.75    90000.0
Name: annual_inc, dtype: float64

Processing column: dti
Max: 39.99
Min: 0.0
Average: 18.7697866

Quantiles:
0.25    12.32
0.50    18.21
0.75    24.76
Name: dti, dtype: float64

Processing column: delinq_2yrs

Max: 22.0
Min: 0.0
Average: 0.34392

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: delinq_2yrs, dtype: float64

Processing column: fico_range_low
Max: 845.0
Min: 660.0
Average: 692.5798

Quantiles:
0.25    670.0
0.50    685.0
0.75    705.0
Name: fico_range_low, dtype: float64

Processing column: fico_range_high
Max: 850.0
Min: 664.0
Average: 696.57987

Quantiles:
0.25    674.0
0.50    689.0
0.75    709.0
Name: fico_range_high, dtype: float64

Processing column: inq_last_6mths
Max: 6.0
Min: 0.0
Average: 0.62189

Quantiles:
0.25    0.0
0.50    0.0
0.75    1.0
Name: inq_last_6mths, dtype: float64

Processing column: mths_since_last_delinq
Max: 141.0
Min: 0.0
Average: 33.522525683763185

Quantiles:
0.25    15.0
0.50    30.0
0.75    49.0
Name: mths_since_last_delinq, dtype: float64

Processing column: mths_since_last_record
Max: 120.0
Min: 0.0
Average: 69.39421467846043

Quantiles:
0.25    50.0
0.50    67.0
0.75    89.0
Name: mths_since_last_record, dtype: float64

Processing column: open_acc
Max: 84.0
Min: 1.0
Average: 11.83275

Quantiles:
0.25     8.0
0.50    11.0
0.75    15.0
Name: open_acc, dtype: float64

Processing column: pub_rec
Max: 19.0
Min: 0.0
Average: 0.21456

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: pub_rec, dtype: float64

Processing column: revol_bal
Max: 2560703.0
Min: 0.0
Average: 17588.06238

Quantiles:
0.25     6451.0
0.50    12002.0
0.75    21421.5
Name: revol_bal, dtype: float64

Processing column: revol_util
Max: 180.3
Min: 0.0
Average: 55.434984591371176

Quantiles:
0.25    38.1
0.50    56.0
0.75    73.4
Name: revol_util, dtype: float64

Processing column: total_acc
Max: 156.0
Min: 3.0
Average: 26.03486

Quantiles:
0.25    17.0
0.50    24.0
0.75    33.0
Name: total_acc, dtype: float64

Processing column: out_prncp
Max: 21209.06
Min: 0.0
Average: 1215.1084604999999

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: out_prncp, dtype: float64

Processing column: out_prncp_inv
Max: 21209.06
Min: 0.0
Average: 1214.9064667

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: out_prncp_inv, dtype: float64

Processing column: total_pymnt
Max: 56833.4079008709
Min: 0.0
Average: 15210.210257400642

Quantiles:
0.25     7969.798206
0.50    13056.895000
0.75    20653.820034
Name: total_pymnt, dtype: float64

Processing column: total_pymnt_inv
Max: 56833.41
Min: 0.0
Average: 15207.1216847

Quantiles:
0.25     7968.1025
0.50    13054.1600
0.75    20650.7200
Name: total_pymnt_inv, dtype: float64

Processing column: total_rec_prncp
Max: 35000.0
Min: 0.0
Average: 11978.8756247

Quantiles:
0.25     6000.0
0.50    10000.0
0.75    16000.0
Name: total_rec_prncp, dtype: float64

Processing column: total_rec_int
Max: 23851.97
Min: 0.0
Average: 3040.9570177000005

Quantiles:
0.25    1024.77
0.50    2038.31
0.75    4081.63
Name: total_rec_int, dtype: float64

Processing column: total_rec_late_fee
Max: 338.46
Min: 0.0
Average: 1.2300369003639051

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: total_rec_late_fee, dtype: float64

Processing column: recoveries
Max: 29923.86
Min: 0.0
Average: 189.14756099939245

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: recoveries, dtype: float64

Processing column: collection_recovery_fee
Max: 5386.2930000000015
Min: 0.0
Average: 31.41689079499522

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: collection_recovery_fee, dtype: float64

Processing column: last_pymnt_amnt
Max: 36234.44
Min: 0.0
Average: 4165.111319039872

Quantiles:
0.25     348.5600
0.50     784.4550
0.75    6035.4375
Name: last_pymnt_amnt, dtype: float64

Processing column: last_fico_range_high
Max: 850.0
Min: 0.0
Average: 677.92764

Quantiles:
0.25    634.0
0.50    694.0
0.75    729.0
Name: last_fico_range_high, dtype: float64

Processing column: last_fico_range_low
Max: 845.0
Min: 0.0
Average: 664.18765

Quantiles:
0.25    630.0
0.50    690.0
0.75    725.0
Name: last_fico_range_low, dtype: float64

Processing column: collections_12_mths_ex_med
Max: 20.0
Min: 0.0
Average: 0.01701

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: collections_12_mths_ex_med, dtype: float64

Processing column: mths_since_last_major_derog
Max: 169.0
Min: 0.0
Average: 43.45123653412548

Quantiles:
0.25    26.0
0.50    44.0
0.75    60.0
Name: mths_since_last_major_derog, dtype: float64

Processing column: policy_code
Max: 1.0
Min: 1.0
Average: 1.0

Quantiles:
0.25    1.0
0.50    1.0
0.75    1.0
Name: policy_code, dtype: float64

Processing column: annual_inc_joint
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: annual_inc_joint, dtype: float64

Processing column: dti_joint
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: dti_joint, dtype: float64

Processing column: verification_status_joint
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: verification_status_joint, dtype: float64

Processing column: acc_now_delinq
Max: 4.0
Min: 0.0
Average: 0.00638

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: acc_now_delinq, dtype: float64

Processing column: tot_coll_amt
Max: 296368.0
Min: 0.0
Average: 235.46884

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: tot_coll_amt, dtype: float64

Processing column: tot_cur_bal
Max: 4026405.0
Min: 0.0
Average: 140910.91011

Quantiles:
0.25     30210.75
0.50     80928.50
0.75    209449.50
Name: tot_cur_bal, dtype: float64

Processing column: open_acc_6m
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: open_acc_6m, dtype: float64

Processing column: open_act_il
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: open_act_il, dtype: float64

Processing column: open_il_12m
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: open_il_12m, dtype: float64

Processing column: open_il_24m
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: open_il_24m, dtype: float64

Processing column: mths_since_rcnt_il
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: mths_since_rcnt_il, dtype: float64

Processing column: total_bal_il
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: total_bal_il, dtype: float64

Processing column: il_util
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: il_util, dtype: float64

Processing column: open_rv_12m
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: open_rv_12m, dtype: float64

Processing column: open_rv_24m
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: open_rv_24m, dtype: float64

Processing column: max_bal_bc
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: max_bal_bc, dtype: float64

Processing column: all_util
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: all_util, dtype: float64

Processing column: total_rev_hi_lim
Max: 9999999.0
Min: 0.0
Average: 32526.9722

Quantiles:
0.25    13700.00
0.50    23700.00
0.75    40202.75
Name: total_rev_hi_lim, dtype: float64

Processing column: inq_fi
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: inq_fi, dtype: float64

Processing column: total_cu_tl
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: total_cu_tl, dtype: float64

Processing column: inq_last_12m
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: inq_last_12m, dtype: float64

Processing column: acc_open_past_24mths
Max: 53.0
Min: 0.0
Average: 4.52473

Quantiles:
0.25    2.0
0.50    4.0
0.75    6.0
Name: acc_open_past_24mths, dtype: float64

Processing column: avg_cur_bal
Max: 447433.0
Min: 0.0
Average: 13337.70501

Quantiles:
0.25     3138.00
0.50     7369.00
0.75    18362.75
Name: avg_cur_bal, dtype: float64

Processing column: bc_open_to_buy
Max: 249625.0
Min: 0.0
Average: 8956.451808021038

Quantiles:
0.25     1088.0
0.50     3844.0
0.75    10663.0
Name: bc_open_to_buy, dtype: float64

Processing column: bc_util
Max: 255.2
Min: 0.0
Average: 64.5600220643307

Quantiles:
0.25    45.2
0.50    68.7
0.75    88.0
Name: bc_util, dtype: float64

Processing column: chargeoff_within_12_mths
Max: 4.0
Min: 0.0
Average: 0.0104

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: chargeoff_within_12_mths, dtype: float64

Processing column: delinq_amnt
Max: 65000.0
Min: 0.0
Average: 11.5565

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: delinq_amnt, dtype: float64

Processing column: mo_sin_old_il_acct
Max: 561.0
Min: 0.0
Average: 127.73700163929355

Quantiles:
0.25    100.0
0.50    130.0
0.75    154.0
Name: mo_sin_old_il_acct, dtype: float64

Processing column: mo_sin_old_rev_tl_op
Max: 818.0
Min: 3.0
Average: 185.82682

Quantiles:
0.25    120.0
0.50    169.0
0.75    234.0
Name: mo_sin_old_rev_tl_op, dtype: float64

Processing column: mo_sin_rcnt_rev_tl_op
Max: 372.0
Min: 0.0
Average: 13.13111

Quantiles:
0.25     4.0
0.50     8.0
0.75    16.0
Name: mo_sin_rcnt_rev_tl_op, dtype: float64

Processing column: mo_sin_rcnt_tl
Max: 194.0
Min: 0.0
Average: 7.94572

Quantiles:
0.25     3.0
0.50     5.0
0.75    10.0
Name: mo_sin_rcnt_tl, dtype: float64

Processing column: mort_acc
Max: 36.0
Min: 0.0
Average: 1.78588

Quantiles:
0.25    0.0
0.50    1.0
0.75    3.0
Name: mort_acc, dtype: float64

Processing column: mths_since_recent_bc
Max: 616.0
Min: 0.0
Average: 24.435205303635133

Quantiles:
0.25     6.0
0.50    13.0
0.75    29.0
Name: mths_since_recent_bc, dtype: float64

Processing column: mths_since_recent_bc_dlq
Max: 154.0
Min: 0.0
Average: 39.63386883386883

Quantiles:
0.25    21.0
0.50    38.0
0.75    58.0
Name: mths_since_recent_bc_dlq, dtype: float64

Processing column: mths_since_recent_inq
Max: 25.0
Min: 0.0
Average: 6.7667716395733075

Quantiles:
0.25     2.0
0.50     5.0
0.75    10.0
Name: mths_since_recent_inq, dtype: float64

Processing column: mths_since_recent_revol_delinq
Max: 154.0
Min: 0.0
Average: 35.615431382302546

Quantiles:
0.25    17.0
0.50    33.0
0.75    53.0
Name: mths_since_recent_revol_delinq, dtype: float64

Processing column: num_accts_ever_120_pd
Max: 33.0
Min: 0.0
Average: 0.52372

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: num_accts_ever_120_pd, dtype: float64

Processing column: num_actv_bc_tl
Max: 26.0
Min: 0.0
Average: 3.72897

Quantiles:
0.25    2.0
0.50    3.0
0.75    5.0
Name: num_actv_bc_tl, dtype: float64

Processing column: num_actv_rev_tl
Max: 38.0
Min: 0.0
Average: 5.83361

Quantiles:
0.25    4.0
0.50    5.0
0.75    7.0
Name: num_actv_rev_tl, dtype: float64

Processing column: num_bc_sats
Max: 35.0
Min: 0.0
Average: 4.66532

Quantiles:
0.25    3.0
0.50    4.0
0.75    6.0
Name: num_bc_sats, dtype: float64

Processing column: num_bc_tl
Max: 58.0
Min: 0.0
Average: 8.42365

Quantiles:
0.25     5.0
0.50     8.0
0.75    11.0
Name: num_bc_tl, dtype: float64

Processing column: num_il_tl
Max: 150.0
Min: 0.0
Average: 8.66296

Quantiles:
0.25     4.0
0.50     7.0
0.75    12.0
Name: num_il_tl, dtype: float64

Processing column: num_op_rev_tl
Max: 62.0
Min: 0.0
Average: 8.39263

Quantiles:
0.25     5.0
0.50     8.0
0.75    11.0
Name: num_op_rev_tl, dtype: float64

Processing column: num_rev_accts
Max: 105.0
Min: 2.0
Average: 15.28991

Quantiles:
0.25     9.0
0.50    14.0
0.75    20.0
Name: num_rev_accts, dtype: float64

Processing column: num_rev_tl_bal_gt_0
Max: 38.0
Min: 0.0
Average: 5.81747

Quantiles:
0.25    4.0
0.50    5.0
0.75    7.0
Name: num_rev_tl_bal_gt_0, dtype: float64

Processing column: num_sats
Max: 84.0
Min: 1.0
Average: 11.79017

Quantiles:
0.25     8.0
0.50    11.0
0.75    15.0
Name: num_sats, dtype: float64

Processing column: num_tl_120dpd_2m
Max: 2.0
Min: 0.0
Average: 0.0008159601811431602

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: num_tl_120dpd_2m, dtype: float64

Processing column: num_tl_30dpd
Max: 4.0
Min: 0.0
Average: 0.00444

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: num_tl_30dpd, dtype: float64

Processing column: num_tl_90g_dpd_24m
Max: 22.0
Min: 0.0
Average: 0.09143

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: num_tl_90g_dpd_24m, dtype: float64

Processing column: num_tl_op_past_12m
Max: 26.0
Min: 0.0
Average: 2.0957

Quantiles:
0.25    1.0
0.50    2.0
0.75    3.0
Name: num_tl_op_past_12m, dtype: float64

Processing column: pct_tl_nvr_dlq
Max: 100.0
Min: 16.7
Average: 94.300697

Quantiles:
0.25     91.7
0.50     97.7
0.75    100.0
Name: pct_tl_nvr_dlq, dtype: float64

Processing column: percent_bc_gt_75
Max: 100.0
Min: 0.0
Average: 50.694696425500055

Quantiles:
0.25    20.0
0.50    50.0
0.75    80.0
Name: percent_bc_gt_75, dtype: float64

Processing column: pub_rec_bankruptcies
Max: 12.0
Min: 0.0
Average: 0.12654

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: pub_rec_bankruptcies, dtype: float64

Processing column: tax_liens
Max: 18.0
Min: 0.0
Average: 0.05618

Quantiles:
0.25    0.0
0.50    0.0
0.75    0.0
Name: tax_liens, dtype: float64

Processing column: tot_hi_cred_lim
Max: 9999999.0
Min: 1800.0
Average: 172385.51452

Quantiles:
0.25     48986.75
0.50    111061.50
0.75    248385.75
Name: tot_hi_cred_lim, dtype: float64

Processing column: total_bal_ex_mort
Max: 2688920.0
Min: 0.0
Average: 50471.32121

Quantiles:
0.25    21666.0
0.50    38195.0
0.75    63296.5
Name: total_bal_ex_mort, dtype: float64

Processing column: total_bc_limit
Max: 456200.0
Min: 0.0
Average: 21073.77013

Quantiles:
0.25     7300.0
0.50    14500.0
0.75    27600.0
Name: total_bc_limit, dtype: float64

Processing column: total_il_high_credit_limit
Max: 876963.0
Min: 0.0
Average: 41031.31849

Quantiles:
0.25    14073.75
0.50    30830.00
0.75    55149.75
Name: total_il_high_credit_limit, dtype: float64

Processing column: revol_bal_joint
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: revol_bal_joint, dtype: float64

Processing column: sec_app_fico_range_low
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: sec_app_fico_range_low, dtype: float64

Processing column: sec_app_fico_range_high
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: sec_app_fico_range_high, dtype: float64

Processing column: sec_app_earliest_cr_line
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: sec_app_earliest_cr_line, dtype: float64

Processing column: sec_app_inq_last_6mths
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: sec_app_inq_last_6mths, dtype: float64

Processing column: sec_app_mort_acc
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: sec_app_mort_acc, dtype: float64

Processing column: sec_app_open_acc
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: sec_app_open_acc, dtype: float64

Processing column: sec_app_revol_util
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: sec_app_revol_util, dtype: float64

Processing column: sec_app_open_act_il
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: sec_app_open_act_il, dtype: float64

Processing column: sec_app_num_rev_accts
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: sec_app_num_rev_accts, dtype: float64

Processing column: sec_app_chargeoff_within_12_mths
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: sec_app_chargeoff_within_12_mths, dtype: float64

Processing column: sec_app_collections_12_mths_ex_med
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: sec_app_collections_12_mths_ex_med, dtype: float64

Processing column: sec_app_mths_since_last_major_derog
Max: nan
Min: nan
Average: nan

Quantiles:
0.25   NaN
0.50   NaN
0.75   NaN
Name: sec_app_mths_since_last_major_derog, dtype: float64

Processing column: deferral_term
Max: 3.0
Min: 3.0
Average: 3.0

Quantiles:
0.25    3.0
0.50    3.0
0.75    3.0
Name: deferral_term, dtype: float64

Processing column: hardship_amount
Max: 382.34
Min: 1.47
Average: 110.33556756756755

Quantiles:
0.25     23.76
0.50     96.58
0.75    164.75
Name: hardship_amount, dtype: float64

Processing column: hardship_length
Max: 3.0
Min: 3.0
Average: 3.0

Quantiles:
0.25    3.0
0.50    3.0
0.75    3.0
Name: hardship_length, dtype: float64

Processing column: hardship_dpd
Max: 32.0
Min: 0.0
Average: 14.037837837837838

Quantiles:
0.25     7.0
0.50    15.0
0.75    22.0
Name: hardship_dpd, dtype: float64

Processing column: orig_projected_additional_accrued_interest
Max: 1147.02
Min: 4.41
Average: 323.49513157894734

Quantiles:
0.25     63.8850
0.50    281.5800
0.75    481.4925
Name: orig_projected_additional_accrued_interest, dtype: float64

Processing column: hardship_payoff_balance_amount
Max: 21750.75
Min: 174.15
Average: 8046.61654054054

Quantiles:
0.25     2465.36
0.50     8049.85
0.75    11968.94
Name: hardship_payoff_balance_amount, dtype: float64

Processing column: hardship_last_payment_amount
Max: 757.42
Min: 0.04
Average: 186.56313513513513

Quantiles:
0.25     27.61
0.50    172.46
0.75    285.89
Name: hardship_last_payment_amount, dtype: float64

Processing column: settlement_amount
Max: 26751.74
Min: 233.16
Average: 4768.376356589148

Quantiles:
0.25    1951.125
0.50    3881.120
0.75    6503.000
Name: settlement_amount, dtype: float64

Processing column: settlement_percentage
Max: 100.0
Min: 0.55
Average: 47.720519379844966

Quantiles:
0.25    45.00
0.50    45.04
0.75    50.00
Name: settlement_percentage, dtype: float64

Processing column: settlement_term
Max: 36.0
Min: 0.0
Average: 8.265116279069767

Quantiles:
0.25     0.0
0.50     6.0
0.75    14.0
Name: settlement_term, dtype: float64

Hice el casteo de tipo float 16 en las NaN porque es suficiente para el tipo de dato adecuado para mis datos. Por otra parte, utilizar float32 ayuda a evitar errores de redondeo para así tener números más precisos.

In [ ]:
col_int16= ['delinq_2yrs', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 
            'pub_rec', 'total_acc', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 
            'acc_now_delinq', 'acc_open_past_24mths', 'chargeoff_within_12_mths', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 
            'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 
            'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 
            'num_tl_op_past_12m', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'deferral_term', 'hardship_length', 'hardship_dpd', 'settlement_term', '']
col_int32= ['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'annual_inc', 'revol_bal', 'total_rec_prncp', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
            'avg_cur_bal', 'bc_open_to_buy', 'tot_hi_cred_lim', 'total_bc_limit', 'total_il_high_credit_limit', '']
col_float16= ['member_id', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m',
              'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 
              'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 
              'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 
              'sec_app_mths_since_last_major_derog', '']
col_float32= ['int_rate', 'installment', 'dti', 'revol_util', 'out_prncp', 'out_prncp_inv', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 
              'bc_util', 'pct_tl_nvr_dlq', 'hardship_amount', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 
              'settlement_amount', 'settlement_percentage', ]


def cast_columns(df, col_int16=None, col_int32=None, col_float16=None, col_float32=None):
    def cast_to_type(columns, dtype):
        for col in columns:
            try:
                df[col] = df[col].astype(dtype)
                print(f"Column '{col}' successfully cast to {dtype}.")
            except KeyError:
                print(f"Error: Column '{col}' not found in the DataFrame.")
            except ValueError as e:
                print(f"Error casting column '{col}': {e}")

    # Cast each group of columns to the specified data type
    if col_int16:
        cast_to_type(col_int16, 'int16')
    if col_int32:
        cast_to_type(col_int32, 'int32')
    if col_float16:
        cast_to_type(col_float16, 'float16')
    if col_float32:
        cast_to_type(col_float32, 'float32')

    return df

cast_columns(df, col_int16, col_int32, col_float16, col_float32)

Column 'delinq_2yrs' successfully cast to int16.
Column 'fico_range_low' successfully cast to int16.
Column 'fico_range_high' successfully cast to int16.
Column 'inq_last_6mths' successfully cast to int16.
Error casting column 'mths_since_last_delinq': Cannot convert non-finite values (NA or inf) to integer
Error casting column 'mths_since_last_record': Cannot convert non-finite values (NA or inf) to integer
Column 'open_acc' successfully cast to int16.
Column 'pub_rec' successfully cast to int16.
Column 'total_acc' successfully cast to int16.
Column 'last_fico_range_high' successfully cast to int16.
Column 'last_fico_range_low' successfully cast to int16.
Column 'collections_12_mths_ex_med' successfully cast to int16.
Error casting column 'mths_since_last_major_derog': Cannot convert non-finite values (NA or inf) to integer
Column 'policy_code' successfully cast to int16.
Column 'acc_now_delinq' successfully cast to int16.
Column 'acc_open_past_24mths' successfully cast to int16.
Column 'chargeoff_within_12_mths' successfully cast to int16.
Error casting column 'mo_sin_old_il_acct': Cannot convert non-finite values (NA or inf) to integer
Column 'mo_sin_old_rev_tl_op' successfully cast to int16.
Column 'mo_sin_rcnt_rev_tl_op' successfully cast to int16.
Column 'mo_sin_rcnt_tl' successfully cast to int16.
Column 'mort_acc' successfully cast to int16.
Error casting column 'mths_since_recent_bc': Cannot convert non-finite values (NA or inf) to integer
Error casting column 'mths_since_recent_bc_dlq': Cannot convert non-finite values (NA or inf) to integer
Error casting column 'mths_since_recent_inq': Cannot convert non-finite values (NA or inf) to integer
Error casting column 'mths_since_recent_revol_delinq': Cannot convert non-finite values (NA or inf) to integer
Column 'num_accts_ever_120_pd' successfully cast to int16.
Column 'num_actv_bc_tl' successfully cast to int16.
Column 'num_actv_rev_tl' successfully cast to int16.
Column 'num_bc_sats' successfully cast to int16.
Column 'num_bc_tl' successfully cast to int16.
Column 'num_il_tl' successfully cast to int16.
Column 'num_op_rev_tl' successfully cast to int16.
Column 'num_rev_accts' successfully cast to int16.
Column 'num_rev_tl_bal_gt_0' successfully cast to int16.
Column 'num_sats' successfully cast to int16.
Error casting column 'num_tl_120dpd_2m': Cannot convert non-finite values (NA or inf) to integer
Column 'num_tl_30dpd' successfully cast to int16.
Column 'num_tl_90g_dpd_24m' successfully cast to int16.
Column 'num_tl_op_past_12m' successfully cast to int16.
Error casting column 'percent_bc_gt_75': Cannot convert non-finite values (NA or inf) to integer
Column 'pub_rec_bankruptcies' successfully cast to int16.
Column 'tax_liens' successfully cast to int16.
Error casting column 'deferral_term': Cannot convert non-finite values (NA or inf) to integer
Error casting column 'hardship_length': Cannot convert non-finite values (NA or inf) to integer
Error casting column 'hardship_dpd': Cannot convert non-finite values (NA or inf) to integer
Error casting column 'settlement_term': Cannot convert non-finite values (NA or inf) to integer
Error: Column '' not found in the DataFrame.
Column 'loan_amnt' successfully cast to int32.
Column 'funded_amnt' successfully cast to int32.
Column 'funded_amnt_inv' successfully cast to int32.
Column 'annual_inc' successfully cast to int32.
Column 'revol_bal' successfully cast to int32.
Column 'total_rec_prncp' successfully cast to int32.
Column 'tot_coll_amt' successfully cast to int32.
Column 'tot_cur_bal' successfully cast to int32.
Column 'total_rev_hi_lim' successfully cast to int32.
Column 'avg_cur_bal' successfully cast to int32.
Error casting column 'bc_open_to_buy': Cannot convert non-finite values (NA or inf) to integer
Column 'tot_hi_cred_lim' successfully cast to int32.
Column 'total_bc_limit' successfully cast to int32.
Column 'total_il_high_credit_limit' successfully cast to int32.
Error: Column '' not found in the DataFrame.
Column 'member_id' successfully cast to float16.
Column 'annual_inc_joint' successfully cast to float16.
Column 'dti_joint' successfully cast to float16.
Column 'verification_status_joint' successfully cast to float16.
Column 'open_acc_6m' successfully cast to float16.
Column 'open_act_il' successfully cast to float16.
Column 'open_il_12m' successfully cast to float16.
Column 'open_il_24m' successfully cast to float16.
Column 'mths_since_rcnt_il' successfully cast to float16.
Column 'total_bal_il' successfully cast to float16.
Column 'il_util' successfully cast to float16.
Column 'open_rv_12m' successfully cast to float16.
Column 'open_rv_24m' successfully cast to float16.
Column 'max_bal_bc' successfully cast to float16.
Column 'all_util' successfully cast to float16.
Column 'inq_fi' successfully cast to float16.
Column 'total_cu_tl' successfully cast to float16.
Column 'inq_last_12m' successfully cast to float16.
Column 'revol_bal_joint' successfully cast to float16.
Column 'sec_app_fico_range_low' successfully cast to float16.
Column 'sec_app_fico_range_high' successfully cast to float16.
Column 'sec_app_earliest_cr_line' successfully cast to float16.
Column 'sec_app_inq_last_6mths' successfully cast to float16.
Column 'sec_app_mort_acc' successfully cast to float16.
Column 'sec_app_open_acc' successfully cast to float16.
Column 'sec_app_revol_util' successfully cast to float16.
Column 'sec_app_open_act_il' successfully cast to float16.
Column 'sec_app_num_rev_accts' successfully cast to float16.
Column 'sec_app_chargeoff_within_12_mths' successfully cast to float16.
Column 'sec_app_collections_12_mths_ex_med' successfully cast to float16.
Column 'sec_app_mths_since_last_major_derog' successfully cast to float16.
Error: Column '' not found in the DataFrame.
Column 'int_rate' successfully cast to float32.
Column 'installment' successfully cast to float32.
Column 'dti' successfully cast to float32.
Column 'revol_util' successfully cast to float32.
Column 'out_prncp' successfully cast to float32.
Column 'out_prncp_inv' successfully cast to float32.
Column 'total_rec_int' successfully cast to float32.
Column 'total_rec_late_fee' successfully cast to float32.
Column 'recoveries' successfully cast to float32.
Column 'bc_util' successfully cast to float32.
Column 'pct_tl_nvr_dlq' successfully cast to float32.
Column 'hardship_amount' successfully cast to float32.
Column 'orig_projected_additional_accrued_interest' successfully cast to float32.
Column 'hardship_payoff_balance_amount' successfully cast to float32.
Column 'hardship_last_payment_amount' successfully cast to float32.
Column 'settlement_amount' successfully cast to float32.
Column 'settlement_percentage' successfully cast to float32.

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000,15000,15000,60 months,12.390000,336.640015,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400,10400,10400,36 months,6.990000,321.079987,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425,21425,21425,60 months,15.590000,516.359985,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800,12800,12800,60 months,17.139999,319.079987,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650,7650,7650,36 months,13.660000,260.200012,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400,8400,8400,36 months,9.170000,267.790009,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000,10000,10000,36 months,12.990000,336.899994,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000,30000,30000,60 months,20.990000,811.440002,E,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475,8475,8475,36 months,24.990000,336.920013,F,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000,25000,25000,36 months,10.150000,808.450012,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
# List of columns to cast to float16
columns_to_cast = [
    'mths_since_last_delinq', 'mths_since_last_record', 'mths_since_last_major_derog', 'mo_sin_old_il_acct',
    'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
    'num_tl_120dpd_2m', 'percent_bc_gt_75', 'deferral_term', 'hardship_length', 'hardship_dpd', 'settlement_term'
]

# Cast columns to float16, filling NaN values with 0 before casting
for col in columns_to_cast:
    df[col] = df[col].astype('float16')

In [72]:

boolean_columns = ['hardship_flag', 'debt_settlement_flag']

# Convert columns to boolean
for column in boolean_columns:
    if column in df.columns:
        df[column] = df[column].apply(lambda x: True if x == 'Y' else False if x == 'N' else None)
        df[column] = df[column].astype('boolean')  # Ensure it's the correct boolean type
    else:
        print(f"Column '{column}' not found in the DataFrame.")

In [73]:

# Assuming your DataFrame is loaded as 'df'

# Get a list of all columns
column_list = df.columns.tolist()

# Print the list of columns
print("List of all columns:")
print(column_list)

List of all columns:
['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'disbursement_method', 'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

In [74]:

# column_types =

# Assuming your DataFrame is already loaded as 'df'
print("Column Names and Data Types:")
for column in df.columns:
    print(f"Column: {column}, Data Type: {df[column].dtype}")

unique_dtypes = df.dtypes.unique()

print("Unique Data Types in the DataFrame:")
for dtype in unique_dtypes:
    print(dtype)

Column Names and Data Types:
Column: Unnamed: 0, Data Type: int32
Column: id, Data Type: int32
Column: member_id, Data Type: float16
Column: loan_amnt, Data Type: int32
Column: funded_amnt, Data Type: int32
Column: funded_amnt_inv, Data Type: int32
Column: term, Data Type: object
Column: int_rate, Data Type: float32
Column: installment, Data Type: float32
Column: grade, Data Type: object
Column: sub_grade, Data Type: object
Column: emp_title, Data Type: object
Column: emp_length, Data Type: object
Column: home_ownership, Data Type: object
Column: annual_inc, Data Type: int32
Column: verification_status, Data Type: object
Column: issue_d, Data Type: object
Column: loan_status, Data Type: object
Column: pymnt_plan, Data Type: object
Column: desc, Data Type: object
Column: purpose, Data Type: object
Column: title, Data Type: object
Column: zip_code, Data Type: object
Column: addr_state, Data Type: object
Column: dti, Data Type: float32
Column: delinq_2yrs, Data Type: int16
Column: earliest_cr_line, Data Type: object
Column: fico_range_low, Data Type: int16
Column: fico_range_high, Data Type: int16
Column: inq_last_6mths, Data Type: int16
Column: mths_since_last_delinq, Data Type: float16
Column: mths_since_last_record, Data Type: float16
Column: open_acc, Data Type: int16
Column: pub_rec, Data Type: int16
Column: revol_bal, Data Type: int32
Column: revol_util, Data Type: float32
Column: total_acc, Data Type: int16
Column: initial_list_status, Data Type: object
Column: out_prncp, Data Type: float32
Column: out_prncp_inv, Data Type: float32
Column: total_pymnt, Data Type: float64
Column: total_pymnt_inv, Data Type: float64
Column: total_rec_prncp, Data Type: int32
Column: total_rec_int, Data Type: float32
Column: total_rec_late_fee, Data Type: float32
Column: recoveries, Data Type: float32
Column: collection_recovery_fee, Data Type: float64
Column: last_pymnt_d, Data Type: object
Column: last_pymnt_amnt, Data Type: float64
Column: next_pymnt_d, Data Type: object
Column: last_credit_pull_d, Data Type: object
Column: last_fico_range_high, Data Type: int16
Column: last_fico_range_low, Data Type: int16
Column: collections_12_mths_ex_med, Data Type: int16
Column: mths_since_last_major_derog, Data Type: float16
Column: policy_code, Data Type: int16
Column: application_type, Data Type: object
Column: annual_inc_joint, Data Type: float16
Column: dti_joint, Data Type: float16
Column: verification_status_joint, Data Type: float16
Column: acc_now_delinq, Data Type: int16
Column: tot_coll_amt, Data Type: int32
Column: tot_cur_bal, Data Type: int32
Column: open_acc_6m, Data Type: float16
Column: open_act_il, Data Type: float16
Column: open_il_12m, Data Type: float16
Column: open_il_24m, Data Type: float16
Column: mths_since_rcnt_il, Data Type: float16
Column: total_bal_il, Data Type: float16
Column: il_util, Data Type: float16
Column: open_rv_12m, Data Type: float16
Column: open_rv_24m, Data Type: float16
Column: max_bal_bc, Data Type: float16
Column: all_util, Data Type: float16
Column: total_rev_hi_lim, Data Type: int32
Column: inq_fi, Data Type: float16
Column: total_cu_tl, Data Type: float16
Column: inq_last_12m, Data Type: float16
Column: acc_open_past_24mths, Data Type: int16
Column: avg_cur_bal, Data Type: int32
Column: bc_open_to_buy, Data Type: float64
Column: bc_util, Data Type: float32
Column: chargeoff_within_12_mths, Data Type: int16
Column: delinq_amnt, Data Type: float64
Column: mo_sin_old_il_acct, Data Type: float16
Column: mo_sin_old_rev_tl_op, Data Type: int16
Column: mo_sin_rcnt_rev_tl_op, Data Type: int16
Column: mo_sin_rcnt_tl, Data Type: int16
Column: mort_acc, Data Type: int16
Column: mths_since_recent_bc, Data Type: float16
Column: mths_since_recent_bc_dlq, Data Type: float16
Column: mths_since_recent_inq, Data Type: float16
Column: mths_since_recent_revol_delinq, Data Type: float16
Column: num_accts_ever_120_pd, Data Type: int16
Column: num_actv_bc_tl, Data Type: int16
Column: num_actv_rev_tl, Data Type: int16
Column: num_bc_sats, Data Type: int16
Column: num_bc_tl, Data Type: int16
Column: num_il_tl, Data Type: int16
Column: num_op_rev_tl, Data Type: int16
Column: num_rev_accts, Data Type: int16
Column: num_rev_tl_bal_gt_0, Data Type: int16
Column: num_sats, Data Type: int16
Column: num_tl_120dpd_2m, Data Type: float16
Column: num_tl_30dpd, Data Type: int16
Column: num_tl_90g_dpd_24m, Data Type: int16
Column: num_tl_op_past_12m, Data Type: int16
Column: pct_tl_nvr_dlq, Data Type: float32
Column: percent_bc_gt_75, Data Type: float16
Column: pub_rec_bankruptcies, Data Type: int16
Column: tax_liens, Data Type: int16
Column: tot_hi_cred_lim, Data Type: int32
Column: total_bal_ex_mort, Data Type: float64
Column: total_bc_limit, Data Type: int32
Column: total_il_high_credit_limit, Data Type: int32
Column: revol_bal_joint, Data Type: float16
Column: sec_app_fico_range_low, Data Type: float16
Column: sec_app_fico_range_high, Data Type: float16
Column: sec_app_earliest_cr_line, Data Type: float16
Column: sec_app_inq_last_6mths, Data Type: float16
Column: sec_app_mort_acc, Data Type: float16
Column: sec_app_open_acc, Data Type: float16
Column: sec_app_revol_util, Data Type: float16
Column: sec_app_open_act_il, Data Type: float16
Column: sec_app_num_rev_accts, Data Type: float16
Column: sec_app_chargeoff_within_12_mths, Data Type: float16
Column: sec_app_collections_12_mths_ex_med, Data Type: float16
Column: sec_app_mths_since_last_major_derog, Data Type: float16
Column: hardship_flag, Data Type: boolean
Column: hardship_type, Data Type: object
Column: hardship_reason, Data Type: object
Column: hardship_status, Data Type: object
Column: deferral_term, Data Type: float16
Column: hardship_amount, Data Type: float32
Column: hardship_start_date, Data Type: object
Column: hardship_end_date, Data Type: object
Column: payment_plan_start_date, Data Type: object
Column: hardship_length, Data Type: float16
Column: hardship_dpd, Data Type: float16
Column: hardship_loan_status, Data Type: object
Column: orig_projected_additional_accrued_interest, Data Type: float32
Column: hardship_payoff_balance_amount, Data Type: float32
Column: hardship_last_payment_amount, Data Type: float32
Column: disbursement_method, Data Type: object
Column: debt_settlement_flag, Data Type: boolean
Column: debt_settlement_flag_date, Data Type: object
Column: settlement_status, Data Type: object
Column: settlement_date, Data Type: object
Column: settlement_amount, Data Type: float32
Column: settlement_percentage, Data Type: float32
Column: settlement_term, Data Type: float16
Unique Data Types in the DataFrame:
int32
float16
object
float32
int16
float64
boolean

## Manejo de NaNs o missings

Maneja los datos de tipos missing. Elije una estrategia adecuada dependiendo del tipo de dato que le asignaste a la columna.

Crea codigo para **guardar** y **cargar** un archivo JSON en el que se guarde la `estrategia` y `valor` que utilizaste para **imputar**. Por ejemplo: Si hay una columna que se llama `columna 3` y utilizaste la estrategia de imputacion de media, y existe otra llamada `columna 4` y  elegiste la palabra 'missing' el JSON debera contener:  
  
 `{'columna 3':{'estrategia':'mean', 'valor':3.4}, 'columna 4':{'estrategia':'identificador', 'valor':'missing'}}`  

 De tal manera que para cada columna que tenga un metodo de imputacion apunte a otro diccionario donde el **key** `estrategia` describa de manera sencilla el metodo, y el **key** `valor` el valor usado. En general:   
 `{'nombre de la columna':{'estrategia':'descripcion de estrategia', 'valor':'valor utilizado'}}`. 
 

De utilizar mas de un metodo puedes anidarlos en una lista  
  `[{...},{...}]`.  

Incluso si la columna utilizada no sufrio imputacion, es necesario que la agregues al JSON.

La idea es que cualquier otra persona pueda cargar el el archivo JSON con tu funcion, entender que hiciste y replicarlo facilmente. No existe solo una respuesta correcta, pero tendras que justificar y explicar tus deciciones.

### Imputacion

In [75]:
# Select columns with dtype 'object'
object_columns = df.select_dtypes(include=['object'])

print("Columns with dtype 'object':")
for column in object_columns.columns:
    print(f"\nColumn: {column}")
    print(object_columns[column].head(10))  # Display first 10 rows (or modify as needed)

Columns with dtype 'object':

Column: term
0     60 months
1     36 months
2     60 months
3     60 months
4     36 months
5     36 months
6     36 months
7     60 months
8     36 months
9     36 months
Name: term, dtype: object

Column: grade
0    C
1    A
2    D
3    D
4    C
5    C
6    B
7    B
8    C
9    B
Name: grade, dtype: object

Column: sub_grade
0    C1
1    A3
2    D1
3    D4
4    C3
5    C3
6    B5
7    B4
8    C4
9    B4
Name: sub_grade, dtype: object

Column: emp_title
0                         MANAGEMENT
1     Truck Driver Delivery Personel
2    Programming Analysis Supervisor
3          Senior Sales Professional
4               Technical Specialist
5                   Admin Specialist
6             Manufacturing Engineer
7            Foreign Service Officer
8                            Teacher
9                      Store Manager
Name: emp_title, dtype: object

Column: emp_length
0    10+ years
1      8 years
2      6 years
3    10+ years
4     < 1 year
5    10+ years
6     < 1 year
7      6 years
8    10+ years
9      2 years
Name: emp_length, dtype: object

Column: home_ownership
0        RENT
1    MORTGAGE
2        RENT
3    MORTGAGE
4        RENT
5        RENT
6    MORTGAGE
7         OWN
8        RENT
9        RENT
Name: home_ownership, dtype: object

Column: verification_status
0    Source Verified
1       Not Verified
2    Source Verified
3           Verified
4    Source Verified
5    Source Verified
6    Source Verified
7           Verified
8    Source Verified
9       Not Verified
Name: verification_status, dtype: object

Column: issue_d
0    Dec-2014
1    Dec-2014
2    Dec-2014
3    Dec-2014
4    Dec-2014
5    Dec-2014
6    Dec-2014
7    Dec-2014
8    Dec-2014
9    Dec-2014
Name: issue_d, dtype: object

Column: loan_status
0     Fully Paid
1    Charged Off
2     Fully Paid
3        Current
4    Charged Off
5     Fully Paid
6     Fully Paid
7     Fully Paid
8    Charged Off
9     Fully Paid
Name: loan_status, dtype: object

Column: pymnt_plan
0    n
1    n
2    n
3    n
4    n
5    n
6    n
7    n
8    n
9    n
Name: pymnt_plan, dtype: object

Column: desc
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: desc, dtype: object

Column: purpose
0    debt_consolidation
1           credit_card
2           credit_card
3                   car
4    debt_consolidation
5    debt_consolidation
6      home_improvement
7    debt_consolidation
8           credit_card
9    debt_consolidation
Name: purpose, dtype: object

Column: title
0         Debt consolidation
1    Credit card refinancing
2    Credit card refinancing
3              Car financing
4         Debt consolidation
5         Debt consolidation
6           Home improvement
7         Debt consolidation
8    Credit card refinancing
9         Debt consolidation
Name: title, dtype: object

Column: zip_code
0    235xx
1    937xx
2    658xx
3    953xx
4    850xx
5    077xx
6    554xx
7    201xx
8    982xx
9    208xx
Name: zip_code, dtype: object

Column: addr_state
0    VA
1    CA
2    MO
3    CA
4    AZ
5    NJ
6    MN
7    VA
8    WA
9    MD
Name: addr_state, dtype: object

Column: earliest_cr_line
0    Aug-1994
1    Sep-1989
2    Aug-2003
3    Oct-2000
4    Aug-2002
5    Nov-1992
6    Oct-2001
7    Nov-2003
8    Oct-1998
9    May-2009
Name: earliest_cr_line, dtype: object

Column: initial_list_status
0    w
1    w
2    w
3    w
4    f
5    f
6    f
7    w
8    f
9    f
Name: initial_list_status, dtype: object

Column: last_pymnt_d
0    Jun-2016
1    Aug-2016
2    May-2016
3    Dec-2017
4    Aug-2015
5    Apr-2015
6    Jun-2015
7    Sep-2016
8    Feb-2016
9    May-2015
Name: last_pymnt_d, dtype: object

Column: next_pymnt_d
0         NaN
1         NaN
2         NaN
3    Jan-2018
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
Name: next_pymnt_d, dtype: object

Column: last_credit_pull_d
0    Nov-2017
1    Feb-2017
2    Dec-2017
3    Dec-2017
4    Oct-2016
5    Dec-2017
6    Dec-2017
7    Oct-2016
8    Oct-2016
9    Apr-2015
Name: last_credit_pull_d, dtype: object

Column: application_type
0    Individual
1    Individual
2    Individual
3    Individual
4    Individual
5    Individual
6    Individual
7    Individual
8    Individual
9    Individual
Name: application_type, dtype: object

Column: hardship_type
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: hardship_type, dtype: object

Column: hardship_reason
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: hardship_reason, dtype: object

Column: hardship_status
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: hardship_status, dtype: object

Column: hardship_start_date
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: hardship_start_date, dtype: object

Column: hardship_end_date
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: hardship_end_date, dtype: object

Column: payment_plan_start_date
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: payment_plan_start_date, dtype: object

Column: hardship_loan_status
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: hardship_loan_status, dtype: object

Column: disbursement_method
0    Cash
1    Cash
2    Cash
3    Cash
4    Cash
5    Cash
6    Cash
7    Cash
8    Cash
9    Cash
Name: disbursement_method, dtype: object

Column: debt_settlement_flag_date
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: debt_settlement_flag_date, dtype: object

Column: settlement_status
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: settlement_status, dtype: object

Column: settlement_date
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: settlement_date, dtype: object

In [76]:
rows_with_desc = datos_dict[datos_dict['feature'] == 'desc']
print("Rows where 'feature' is 'desc':")
print(rows_with_desc)

Rows where 'feature' is 'desc':
   feature                                description
15    desc  Loan description provided by the borrower

La lista specific_columns tienen un valor que es una bandera booleana. Sí la columna es false, es que no aplica. Voy a sustituir un NaN

In [77]:
# Assuming your DataFrame is loaded as 'df'

specific_columns = [
    'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term',
    'hardship_amount', 'hardship_start_date', 'hardship_end_date',
    'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
    'hardship_loan_status', 'orig_projected_additional_accrued_interest',
    'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
    'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
    'settlement_amount', 'settlement_percentage', 'settlement_term'
]

# Select object columns
object_columns = df.select_dtypes(include=['object']).columns

# Create a set of all columns to handle: object columns + specific columns
all_columns = set(object_columns).union(specific_columns)

# Iterate over all relevant columns and fill NaN values appropriately
for column in all_columns:
    if column in df.columns:  # Ensure column exists in the DataFrame
        if column in specific_columns:
            # Fill NaN with an empty string ('')
            df[column].fillna('', inplace=True)
        else:
            # Fill NaN with 'missing'
            df[column].fillna('missing', inplace=True)

print("NaN values filled successfully.")

NaN values filled successfully.

/tmp/ipykernel_26180/4061334225.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float32, please explicitly cast to a compatible dtype first.
  df[column].fillna('', inplace=True)
/tmp/ipykernel_26180/4061334225.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float16, please explicitly cast to a compatible dtype first.
  df[column].fillna('', inplace=True)

In [ ]:
#Sí no hubo pago o cobro, entonces es igual a 0

UsageError: Cell magic `%%Sí` not found.

In [ ]:
specific_columns = [
    'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term',
    'hardship_amount', 'hardship_start_date', 'hardship_end_date',
    'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
    'hardship_loan_status', 'orig_projected_additional_accrued_interest',
    'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
    'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
    'settlement_amount', 'settlement_percentage', 'settlement_term'
]

# Select all numeric columns (int, float)
numeric_columns = df.select_dtypes(include=['int', 'float']).columns

# Exclude specific columns from numeric columns using set operations
filtered_numeric_columns = list(set(numeric_columns) - set(specific_columns))
filtered_columns = [col for col in filtered_numeric_columns if df[col].dtype != 'float16']

# Replace NaN values with 0 in the filtered columns
df[filtered_columns] = df[filtered_columns].fillna(0)

print("NaN values in int and non-float16 columns replaced with 0.")

bool_columns = df.select_dtypes(include=['boolean']).columns

# Replace NaN values with False in boolean columns
df[bool_columns] = df[bool_columns].fillna(False)
print("NaN values in boolean columns replaced with False.")

NaN values in int and non-float16 columns replaced with 0.
NaN values in boolean columns replaced with False.

### Codigo para salvar y cargar JSONs

In [ ]:
import json

def create_imputation_strategy_json(df):
    """
    Creates a JSON-like dictionary assigning imputation strategies and values 
    for each column in the DataFrame based on its data type and a predefined list.

    Parameters:
    df: DataFrame to analyze.

    Returns:
    JSON-like dictionary with imputation strategies and values for each column.
    """
    special_columns = ['hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term',
    'hardship_amount', 'hardship_start_date', 'hardship_end_date',
    'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
    'hardship_loan_status', 'orig_projected_additional_accrued_interest',
    'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
    'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
    'settlement_amount', 'settlement_percentage', 'settlement_term'
    ]

    imputation_dict = {}

    for column in df.columns:
        if column in special_columns:
            estrategia = 'identificador: en estas columnas si no se tiene el valor es porque no aplica. Porque la bandera estuvo en false, por lo tanto lo cambiamos por '''
            valor = ''
        elif df[column].dtype in [np.int64, np.int32, np.int16, np.int8, np.float32, np.float64]:
            estrategia = 'identificador: son numero. Si no se registro un pago o balance, se puede interpretar como que valio 0. Su asuencia se puede interpretar como un 0. Son balances o cantidades'
            valor = 0
        elif df[column].dtype == np.float16:
            estrategia = 'None: estas son columnas llenas de Nan, por lo que las dejamos así. Aunque podemos esperar ciertos valores por las descripciones de las columnas, lo deje asi porque el Nan tambien indica que no hay dato y nos permite idneitficar estas columnas.'
            valor = 'NaN'
        elif df[column].dtype == 'object':
            estrategia = 'identificador: en estas columnas, la ausencia del dato es que falta. Debe de estar ahí, porque lo tiene (como la colificacion o fecha), pero no se registró. Por lo tanto usamos missing'
            valor = 'missing'
        elif df[column].dtype == 'boolean':
            estrategia = 'identificador: en estas columnas, la ausencia del dato significa que no fue verdadero, por lo tanto, lo podemos interpretar como false'
            valor = 'False'
        else:
            estrategia = 'unknown'
            valor = None

        imputation_dict[column] = {'estrategia': estrategia, 'valor': valor}

    return imputation_dict

def save_json(data, filename='imputation_strategy.json'):
    """
    Saves the dictionary as a JSON file.

    Parameters:
    data: Dictionary to save.
    filename: Name of the JSON file (default: 'imputation_strategy.json').
    """
    with open(filename, 'w') as f:
        json.dump(data, f, indent=4)
    print(f"JSON saved as {filename}")



result = create_imputation_strategy_json(df)
save_json(result)

# Download the file
from IPython.display import FileLink
FileLink('imputation_strategy.json')

JSON saved as imputation_strategy.json

/root/fdd_o24Alberto/tareas/195581/pandas/imputation_strategy.json

In [ ]:
# Create a list of columns where all values are NaN
nan_columns = df.columns[df.isna().all()].tolist()

# Print the list of columns filled with NaN
print("List of columns completely filled with NaN:")
print(nan_columns)

target_values = ['0', 'missing', '', False]

# Create a list of columns where all values match one of the target values
columns_with_target_values = [
    col for col in df.columns 
    if df[col].astype(str).isin(target_values).all()
]

# Print the list of columns
print("Columns filled entirely with '0', 'missing',Fasle or '':")
print(columns_with_target_values)

List of columns completely filled with NaN:
['member_id', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog']
Columns filled entirely with '0', 'missing',Fasle or '':
[]

In [116]:
def encontrar_filas_desajustadas(dataframe):

    if 'Sin_nombre: 0' not in dataframe.columns:
        print("La columna 'Sin_nombre: 0' no existe en el DataFrame.")
        return pd.DataFrame()  # Retornar un DataFrame vacío

    # Identificar filas desajustadas
    filas_desajustadas = dataframe[dataframe['Sin_nombre: 0'] != dataframe.index]

    if not filas_desajustadas.empty:
        print("Se encontraron filas desajustadas:")
        print(filas_desajustadas)
    else:
        print("Todos los valores en 'Sin_nombre: 0' coinciden con el índice.")

    return filas_desajustadas

# Ejemplo de uso
# Suponiendo que tu DataFrame se cargó como 'dataframe'
desajustes = encontrar_filas_desajustadas(df)

La columna 'Sin_nombre: 0' no existe en el DataFrame.

In [118]:

from collections import defaultdict

def find_identical_column_sets(df):
    """
    Identifies sets of columns with identical values across all rows.

    Parameters:
    df (pd.DataFrame): The DataFrame to analyze.

    Returns:
    list: A list of sets, each containing columns with identical values across all rows.
    """
    if df.empty:
        print("The DataFrame is empty.")
        return []

    # Dictionary to store groups of columns with identical values (as a tuple of values)
    value_groups = defaultdict(set)

    # Iterate over all columns to group them by their values as a tuple
    for column in df.columns:
        # Convert the column's values to a tuple (to use as a key)
        # Handle NaN values by replacing them with a unique marker (e.g., 'NaN')
        column_values = tuple(df[column].apply(lambda x: 'NaN' if pd.isna(x) else x))
        
        # Group columns with identical values
        value_groups[column_values].add(column)

    # Extract only the sets with more than one column (i.e., identical groups)
    identical_sets = [columns for columns in value_groups.values() if len(columns) > 1]

    if not identical_sets:
        print("No identical column sets found.")
        return []

    return identical_sets

# Example usage
identical_column_sets = find_identical_column_sets(df)

# Print the results
print("Identical column sets:")
for i, column_set in enumerate(identical_column_sets, 1):
    print(f"Set {i}: {column_set}")

Identical column sets:
Set 1: {'inq_fi', 'all_util', 'total_cu_tl', 'il_util', 'sec_app_chargeoff_within_12_mths', 'sec_app_open_act_il', 'sec_app_fico_range_high', 'sec_app_mort_acc', 'sec_app_num_rev_accts', 'max_bal_bc', 'annual_inc_joint', 'open_rv_24m', 'open_rv_12m', 'inq_last_12m', 'open_il_12m', 'verification_status_joint', 'open_acc_6m', 'open_act_il', 'mths_since_rcnt_il', 'sec_app_fico_range_low', 'sec_app_collections_12_mths_ex_med', 'total_bal_il', 'sec_app_open_acc', 'sec_app_mths_since_last_major_derog', 'open_il_24m', 'revol_bal_joint', 'dti_joint', 'sec_app_earliest_cr_line', 'sec_app_revol_util', 'sec_app_inq_last_6mths', 'member_id'}
Set 2: {'funded_amnt', 'loan_amnt'}
Set 3: {'hardship_length', 'deferral_term'}

In [81]:

# Definir las columnas a eliminar (pueden ser irrelevantes o innecesarias)
columns_to_drop = ['open_act_il', 'sec_app_revol_util', 'sec_app_chargeoff_within_12_mths', 'member_id', 'sec_app_open_acc', 'mths_since_rcnt_il', 'max_bal_bc', 'sec_app_fico_range_low', 'dti_joint', 'all_util', 'total_cu_tl', 'sec_app_earliest_cr_line', 'open_rv_24m', 'il_util', 'sec_app_mort_acc', 'sec_app_num_rev_accts', 'open_il_12m', 'open_rv_12m', 'inq_fi', 'sec_app_fico_range_high', 'sec_app_mths_since_last_major_derog', 'revol_bal_joint', 'inq_last_12m', 'sec_app_open_act_il', 'open_acc_6m', 'annual_inc_joint', 'sec_app_inq_last_6mths', 'total_bal_il', 'sec_app_collections_12_mths_ex_med', 'verification_status_joint', 'open_il_24m', 
                  'funded_amnt', 'loan_amnt', 'funded_amnt', 'loan_amnt', 'Unnamed: 0']  # Ajusta según tu caso

# Eliminar las columnas
df_cleaned = df.drop(columns=columns_to_drop, errors='ignore')

print(f"Columnas eliminadas: {columns_to_drop}")
print(f"DataFrame shape after dropping columns: {df_cleaned.shape}")

Columnas eliminadas: ['open_act_il', 'sec_app_revol_util', 'sec_app_chargeoff_within_12_mths', 'member_id', 'sec_app_open_acc', 'mths_since_rcnt_il', 'max_bal_bc', 'sec_app_fico_range_low', 'dti_joint', 'all_util', 'total_cu_tl', 'sec_app_earliest_cr_line', 'open_rv_24m', 'il_util', 'sec_app_mort_acc', 'sec_app_num_rev_accts', 'open_il_12m', 'open_rv_12m', 'inq_fi', 'sec_app_fico_range_high', 'sec_app_mths_since_last_major_derog', 'revol_bal_joint', 'inq_last_12m', 'sec_app_open_act_il', 'open_acc_6m', 'annual_inc_joint', 'sec_app_inq_last_6mths', 'total_bal_il', 'sec_app_collections_12_mths_ex_med', 'verification_status_joint', 'open_il_24m', 'funded_amnt', 'loan_amnt', 'funded_amnt', 'loan_amnt', 'Unnamed: 0']
DataFrame shape after dropping columns: (100000, 117)

In [82]:

df_cleaned

,id,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,38098114,15000,60 months,12.390000,336.640015,C,C1,MANAGEMENT,10+ years,RENT,...,,,Cash,False,,,,,,
1,36805548,10400,36 months,6.990000,321.079987,A,A3,Truck Driver Delivery Personel,8 years,MORTGAGE,...,,,Cash,False,,,,,,
2,37842129,21425,60 months,15.590000,516.359985,D,D1,Programming Analysis Supervisor,6 years,RENT,...,,,Cash,False,,,,,,
3,37612354,12800,60 months,17.139999,319.079987,D,D4,Senior Sales Professional,10+ years,MORTGAGE,...,,,Cash,False,,,,,,
4,37662224,7650,36 months,13.660000,260.200012,C,C3,Technical Specialist,< 1 year,RENT,...,,,Cash,False,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,22454240,8400,36 months,9.170000,267.790009,B,B1,Software Engineer,2 years,MORTGAGE,...,,,Cash,False,,,,,,
99996,11396920,10000,36 months,12.990000,336.899994,C,C1,Assistant Professor of English,3 years,RENT,...,,,Cash,False,,,,,,
99997,8556176,30000,60 months,20.990000,811.440002,E,E4,Facilities Tech 3,10+ years,RENT,...,,,Cash,False,,,,,,
99998,24023408,8475,36 months,24.990000,336.920013,F,F4,Records Examiner Analyst,10+ years,RENT,...,,,Cash,False,,,,,,
99999,24023398,25000,36 months,10.150000,808.450012,B,B2,Occupational Theapy Assistant,3 years,OWN,...,,,Cash,False,,,,,,

In [83]:

with open('imputation_strategy.json', 'r') as f:
    imputation_strategies = json.load(f)

# Iterate over all columns in the DataFrame
for column in df_cleaned.columns:
    if column in imputation_strategies:
        # Use the value from JSON for imputation
        imputation_value = imputation_strategies[column]["valor"]
        df_cleaned[column] = df_cleaned[column].fillna(imputation_value)
    else:
        print('error al imputar en col: ' + column )

print("Imputation completed.")

Imputation completed.

In [85]:

import random
def data_pipeline(df, seed=42):
    #primero hay que castear las columnas para mejorar memoria y que la imputacion se haga igual de la manera más correcta, pero el codigo esta arriba :)
    # 1. Quitar columnas inservibles
    columns_to_drop = ['open_act_il', 'sec_app_revol_util', 'sec_app_chargeoff_within_12_mths', 'member_id', 'sec_app_open_acc', 'mths_since_rcnt_il', 'max_bal_bc', 'sec_app_fico_range_low', 'dti_joint', 'all_util', 'total_cu_tl', 'sec_app_earliest_cr_line', 'open_rv_24m', 'il_util', 'sec_app_mort_acc', 'sec_app_num_rev_accts', 'open_il_12m', 'open_rv_12m', 'inq_fi', 'sec_app_fico_range_high', 'sec_app_mths_since_last_major_derog', 'revol_bal_joint', 'inq_last_12m', 'sec_app_open_act_il', 'open_acc_6m', 'annual_inc_joint', 'sec_app_inq_last_6mths', 'total_bal_il', 'sec_app_collections_12_mths_ex_med', 'verification_status_joint', 'open_il_24m', 
                  'funded_amnt', 'loan_amnt', 'funded_amnt', 'loan_amnt', 'Unnamed: 0']
    df_cleaned = df.drop(columns=columns_to_drop, errors='ignore')
    # 2. Imputación de valores
    with open('imputation_strategy.json', 'r') as f:
        imputation_strategies = json.load(f)

    # Iterate over all columns in the DataFrame
    for column in df_cleaned.columns:
        if column in imputation_strategies:
            # Use the value from JSON for imputation
            imputation_value = imputation_strategies[column]["valor"]
            df_cleaned[column] = df_cleaned[column].fillna(imputation_value)
        else:
            print('error al imputar en col: ' + column )
    # 3. Fijar semilla para reproducibilidad
    np.random.seed(seed)
    random.seed(seed)

    print(f"Pipeline completed. DataFrame shape: {df_cleaned.shape}")
    return df_cleaned

# Uso del pipeline
df_prepared = data_pipeline(df)
df_prepared

Pipeline completed. DataFrame shape: (100000, 117)

,id,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,38098114,15000,60 months,12.390000,336.640015,C,C1,MANAGEMENT,10+ years,RENT,...,,,Cash,False,,,,,,
1,36805548,10400,36 months,6.990000,321.079987,A,A3,Truck Driver Delivery Personel,8 years,MORTGAGE,...,,,Cash,False,,,,,,
2,37842129,21425,60 months,15.590000,516.359985,D,D1,Programming Analysis Supervisor,6 years,RENT,...,,,Cash,False,,,,,,
3,37612354,12800,60 months,17.139999,319.079987,D,D4,Senior Sales Professional,10+ years,MORTGAGE,...,,,Cash,False,,,,,,
4,37662224,7650,36 months,13.660000,260.200012,C,C3,Technical Specialist,< 1 year,RENT,...,,,Cash,False,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,22454240,8400,36 months,9.170000,267.790009,B,B1,Software Engineer,2 years,MORTGAGE,...,,,Cash,False,,,,,,
99996,11396920,10000,36 months,12.990000,336.899994,C,C1,Assistant Professor of English,3 years,RENT,...,,,Cash,False,,,,,,
99997,8556176,30000,60 months,20.990000,811.440002,E,E4,Facilities Tech 3,10+ years,RENT,...,,,Cash,False,,,,,,
99998,24023408,8475,36 months,24.990000,336.920013,F,F4,Records Examiner Analyst,10+ years,RENT,...,,,Cash,False,,,,,,
99999,24023398,25000,36 months,10.150000,808.450012,B,B2,Occupational Theapy Assistant,3 years,OWN,...,,,Cash,False,,,,,,