In [1]:
import pandas as pd
import numpy as np

# Dataframe

In [2]:
# URL que contiene los datos en formato CSV
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

## Carguemos los datos

In [3]:
pd.read_csv(url)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

Pueden observar como pandas asumio que la primera fila del archivo era el nombre de la columna. Utilizemos el argumento `header` para indicarle que es falso.

In [4]:
# Cargar los datos del archivo CSV en un DataFrame
data = pd.read_csv(url, header=None)
data

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
data.index
#El data.index es para ver el rango de los indices, es decir, ver cuantos indices hay en total.

RangeIndex(start=0, stop=150, step=1)

In [6]:
data.shape
#El data.shape es para ver la forma de la tabla, es decir, cuantas filas y columnas tiene.

(150, 5)

In [7]:
data.index = [i*-1 for i in data.index]
#El data.index es para cambiar los indices de la tabla, en este caso se multiplican por -1 para que sean negativos.

In [10]:
data.index

Index([   0,   -1,   -2,   -3,   -4,   -5,   -6,   -7,   -8,   -9,
       ...
       -140, -141, -142, -143, -144, -145, -146, -147, -148, -149],
      dtype='int64', length=150)

In [11]:
data.columns 
#El data.columns es para ver los nombres de las columnas de la tabla.

Index([0, 1, 2, 3, 4], dtype='int64')

Ahora asignemos nombres a las columnas. Como es un Dataset conocido podemos saber que es cada columna. Estos datos se conocen como 'Iris' y fueron creados por el estadistico Fisher.

In [13]:
# Asignar nombres a las columnas
data.columns = ['largo_sepalo', 'ancho_sepalo', 'largo_petalo', 'ancho_petalo', 'clase']
#El data.columns es para cambiar los nombres de las columnas de la tabla.

# Mostrar los primeros 5 registros del DataFrame
print(data.head(10))
#El data.head es para mostrar los primeros 5 registros de la tabla, en este caso se muestran 10 registros.

    largo_sepalo  ancho_sepalo  largo_petalo  ancho_petalo        clase
 0           5.1           3.5           1.4           0.2  Iris-setosa
-1           4.9           3.0           1.4           0.2  Iris-setosa
-2           4.7           3.2           1.3           0.2  Iris-setosa
-3           4.6           3.1           1.5           0.2  Iris-setosa
-4           5.0           3.6           1.4           0.2  Iris-setosa
-5           5.4           3.9           1.7           0.4  Iris-setosa
-6           4.6           3.4           1.4           0.3  Iris-setosa
-7           5.0           3.4           1.5           0.2  Iris-setosa
-8           4.4           2.9           1.4           0.2  Iris-setosa
-9           4.9           3.1           1.5           0.1  Iris-setosa

In [15]:
type(data)
#El type(data) es para ver el tipo de dato de la variable data, en este caso es un DataFrame.
#El DataFrame es una estructura de datos bidimensional, es decir, una tabla.

pandas.core.frame.DataFrame

# Accediendo a Columnas

In [16]:
data['largo_sepalo']
#data['largo_sepalo'] es para mostrar la columna 'largo_sepalo' de la tabla.
#En este caso se muestra la columna 'largo_sepalo'.
#el data ['nombre_columna'] es para mostrar una columna de la tabla.
#Si fuera data ['nombre_columna'] ['nombre_columna'] se mostraría una fila de la tabla. 
#Esto es porque se esta pidiendo una columna de una fila.
#Si fuera data ['nombre_columna'] [indice] se mostraría un valor de la columna de la fila con el indice indicado.
#Si fuera data ['nombre_columna'] [indice1:indice2] se mostrarían los valores de la columna de las filas con los indices indicados.
#Si fuer data{data['nombre_columna'] > valor} se mostrarían los valores de la columna de las filas que cumplan con la condición.
#Si fuera data{data['nombre_columna'] > valor} ['nombre_columna'] se mostrarían los valores de la columna de las filas que cumplan con la condición.
#Esto es porque los {} son para hacer una condición y los [] son para mostrar una columna.

 0      5.1
-1      4.9
-2      4.7
-3      4.6
-4      5.0
       ...
-145    6.7
-146    6.3
-147    6.5
-148    6.2
-149    5.9
Name: largo_sepalo, Length: 150, dtype: float64

In [17]:
# Error
data['asd']
#El error se produce porque no existe una columna con el nombre 'asd'.

KeyError: 'asd'

Cuando seleccionas una columna unica se convierte en `pd.Series`

In [25]:
print(type(data['largo_sepalo']))
#data['largo_sepalo']
data[['largo_sepalo']]['largo_sepalo']
data[['largo_sepalo']]['largo_sepalo'].shape
#El data[['largo_sepalo']]['largo_sepalo'] es para mostrar la columna 'largo_sepalo' de la tabla.
#Tambien se puede hacer data[['largo_sepalo']] para mostrar la columna 'largo_sepalo' de la tabla.
#Y tambien data['largo_sepalo'] para mostrar la columna 'largo_sepalo' de la tabla.
#El type(data['largo_sepalo']) es para ver el tipo de dato de la columna 'largo_sepalo', en este caso es una Serie.
#La Serie es una estructura de datos unidimensional, es decir, un vector.

<class 'pandas.core.series.Series'>

(150,)

In [26]:
data[-149]
#data[-149] es para mostrar la fila con el indice -149 de la tabla.

KeyError: -149

Pero cuando usamos una lista para seleccionar las columnas se mantiene como un DataFrame.

In [27]:
print(type(data[['largo_sepalo']]))
data[['largo_sepalo']]['largo_sepalo'].shape

#El data [[]] es para mostrar una o varias columnas de la tabla. El type es un DataFrame.
#El data [[]] [] es para mostrar una columna de la tabla. El type es una Serie.
#El data [] [] es para mostrar una columna de la tabla. El type es una Serie.
#El data [] es para mostrar una columna de la tabla. El type es una Serie. 
#El data [] [indice] es para mostrar un valor de la columna de la fila con el indice indicado. El type es un valor.

<class 'pandas.core.frame.DataFrame'>

(150,)

A su vez tambien podemos seleccionar varias columnas utilizando una lista.

In [28]:
data[['largo_sepalo', 'largo_petalo' ]]
#Aqui se muestran las columnas 'largo_sepalo' y 'largo_petalo' de la tabla.
#El data [['nombre_columna1', 'nombre_columna2']] es para mostrar las columnas 'nombre_columna1' y 'nombre_columna2' de la tabla.

      largo_sepalo  largo_petalo
 0             5.1           1.4
-1             4.9           1.4
-2             4.7           1.3
-3             4.6           1.5
-4             5.0           1.4
...            ...           ...
-145           6.7           5.2
-146           6.3           5.0
-147           6.5           5.2
-148           6.2           5.4
-149           5.9           5.1

[150 rows x 2 columns]

## Slicing

In [17]:
data = pd.DataFrame({
    'nombre': ['Juan', 'Maria', 'Pedro', 'Luis', 'Ana'],
    'edad': [25, 30, 40, 35, 28],
    'ciudad': ['Bogotá', 'Cali', 'Medellin', 'Barranquilla', 'Bucaramanga'],
    'salario': [2000, 3000, 4000, 3500, 2500]
})
data

  nombre  edad        ciudad  salario
0   Juan    25        Bogotá     2000
1  Maria    30          Cali     3000
2  Pedro    40      Medellin     4000
3   Luis    35  Barranquilla     3500
4    Ana    28   Bucaramanga     2500

In [18]:
data

  nombre  edad        ciudad  salario
0   Juan    25        Bogotá     2000
1  Maria    30          Cali     3000
2  Pedro    40      Medellin     4000
3   Luis    35  Barranquilla     3500
4    Ana    28   Bucaramanga     2500

In [19]:
data.shape

(5, 4)

In [20]:
type(data)

pandas.core.frame.DataFrame

Seleccionar filas y columnas al mismo tiempo usando `loc`

In [21]:
# Seleccionar las filas 1 y 3 y las columnas 'nombre' y 'salario'
subset = data.loc[[0, 2], ['nombre', 'salario']]
print(subset)

#No puedo poner solo las columnas

#Puedo solo poner las filas que quiero sacar y si no pongo las columnas me saca todas las columnas 
subset = data.loc[[0, 2]]
print(subset)

#

  nombre  salario
0   Juan     2000
2  Pedro     4000
  nombre  edad    ciudad  salario
0   Juan    25    Bogotá     2000
2  Pedro    40  Medellin     4000

Seleccionar filas y columnas al mismo tiempo usando `iloc`. Se considera mala practica.

In [22]:
# Seleccionar las filas 1 y 3 y las columnas 0 y 3
subset = data.iloc[[0, 2], [0, 3]]
print(subset)

#P

  nombre  salario
0   Juan     2000
2  Pedro     4000

## Tipos de Datos

In [23]:
data.dtypes

nombre     object
edad        int64
ciudad     object
salario     int64
dtype: object

## Estadisticos

In [25]:
data.describe()

           edad      salario
count   5.00000     5.000000
mean   31.60000  3000.000000
std     5.94138   790.569415
min    25.00000  2000.000000
25%    28.00000  2500.000000
50%    30.00000  3000.000000
75%    35.00000  3500.000000
max    40.00000  4000.000000

In [26]:
data.describe(include='all')    # Estadísticas de todas las columnas

       nombre      edad  ciudad      salario
count       5   5.00000       5     5.000000
unique      5       NaN       5          NaN
top      Juan       NaN  Bogotá          NaN
freq        1       NaN       1          NaN
mean      NaN  31.60000     NaN  3000.000000
std       NaN   5.94138     NaN   790.569415
min       NaN  25.00000     NaN  2000.000000
25%       NaN  28.00000     NaN  2500.000000
50%       NaN  30.00000     NaN  3000.000000
75%       NaN  35.00000     NaN  3500.000000
max       NaN  40.00000     NaN  4000.000000