# Prediccion de Default en Prestamos

Para este proyecto utilizaremos un sample de los datos de Lending Club. La idea es predecir si cierto usuario cometera Default basado en informacion que la plataforma recolecta. Esto nos ayudara a mejorar la metodologia/pipeline de prestamo.

# Descripcion



Contiene los prestamos de esta plataforma:

    periodo 2007-2017Q3.
    887mil observaciones, sample de 100mil
    150 variables
    Target: loan status

# Objetivo

Realizar un ETL y un EDA

## ETL

0. Limpia los datos de tal manera que al final del ETL queden en formato `tidy`.
1. Asegurate de cargar y leer los datos
2. Crea una tabla donde se guarde el nombre de la columna y el tipo de dato: (`column_name`,   `type`).
3. Asegurate de pensar cual es el tipo de dato correcto. Porque elejiste strig/object o float o int?. No hay respuestas incorrectas como tal, pero tienes que justificar tu decision.
4. Maneja missings o nans de la manera adecuada. Justifica cada decision

## EDA

0. Preparar lo datos para un pipeline de datos
1. Quitar columnas inservibles 
2. Imputar valores
3. Mantener replicabildiad y reproducibilidad

**No olvides anotar tus justificaciones en celdas para recordar cuando te toque explicarlo.** Puedes agregar el numero de celdas que necesites para poner tu explicacion y el codigo, solo manten la estructura.

# ETL

In [1]:
import pandas as pd
import numpy as np

Vas a obtener 2 errores, solucionalo con los visto en clase.  
Tip: Se arreglan con argumentos adicionales de la funcion `read_csv`  
Documentacion: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [2]:
loans = pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true', compression='gzip', low_memory=False)

loans

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Tabla (column_name, type)

Revisa el metodo pd.DataFrame.dtypes. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [3]:
column_types = pd.DataFrame(loans.dtypes, columns=['type']).reset_index()
column_types.rename(columns={'index': 'column_name'}, inplace=True)

print(column_types)

               column_name     type
0               Unnamed: 0    int64
1                       id    int64
2                member_id  float64
3                loan_amnt  float64
4              funded_amnt  float64
..                     ...      ...
146      settlement_status   object
147        settlement_date   object
148      settlement_amount  float64
149  settlement_percentage  float64
150        settlement_term  float64

[151 rows x 2 columns]

## Cargar descripcion de columnas

La siguiente tabla tiene una descripcion del significado de cada columna

In [5]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [6]:


datos_dict = pd.read_excel(
    'https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']

In [7]:
datos_dict

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

### Pickle

Crea codigo para **guardar** y **cargar** el DataFrame de `datos_dict` creada en las celdas anteriores en formato **pickle**

In [8]:
datos_dict.to_pickle("datos_dict.pkl")

In [9]:
datos_dict_cargado = pd.read_pickle("datos_dict.pkl")
print(datos_dict_cargado)

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

## Tipos de Datos

Realiza las transformaciones o casteos (casting) que creas necesarios a tus datos de tal manera que el typo de dato sea adecuado. Al terminar recrea la tabla `column_types` con los nuevos tipos.

No olvides anotar tus justificaciones para recordar cuando te toque explicarlo.

In [ ]:
loansf=loans
#Respaldo de los datos

In [11]:
# Manejos de tipos 1
# Tu codigo aqui
# Convertir fechas a datetime
loansf['settlement_date'] = pd.to_datetime(loans['settlement_date'])
# Convertir categorías a tipo category
loansf['settlement_status'] = loans['settlement_status'].astype('category')

/tmp/ipykernel_4586/2732739470.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  loansf['settlement_date'] = pd.to_datetime(loans['settlement_date'])

In [ ]:
# Manejos de tipos 2
# Tu codigo aqui
#loansf['addrState'] = loansf['addrState'].astype(str)
#loansf['addrState'] = loansf['addrState'].apply(lambda x: str(x.lower())) 
#mayusculas a minusculas para facilitar las agrupaciones de datos en descuento, emp y purpose
loansf['desc'] = loansf['desc'].astype(str)
loansf['desc'] = loansf['desc'].apply(lambda x: str(x.lower()))

loansf['emp_title'] = loansf['emp_title'].astype(str)
loansf['emp_title'] = loansf['emp_title'].apply(lambda x: str(x.lower()))

loansf['purpose'] = loansf['purpose'].astype(str)
loansf['purpose'] = loansf['purpose'].apply(lambda x: str(x.lower()))

In [ ]:
loansf['home_ownership'] = loansf['home_ownership'].astype(str)
loansf['initial_list_status'] = loansf['initial_list_status'].astype(str)
#loansf['reviewStatus'] = loansf['reviewStatus'].astype(str)
loansf['disbursement_method'] = loansf['disbursement_method'].astype(str)


#todos los posibles valores estan en mayusculas en home ownership, ititial list status y disturbement method

loansf['home_ownership'] = loansf['home_ownership'].apply(lambda x: str(x.upper()))
loansf['initial_list_status'] = loansf['initial_list_status'].apply(lambda x: str(x.upper()))
#loansf['reviewStatus'] = loansf['reviewStatus'].apply(lambda x: str(x.upper()))
loansf['disbursement_method'] = loansf['disbursement_method'].apply(lambda x: str(x.upper()))

#pedimos que este en los valores dados
def hoCheck(cell):
    val = ['RENT', 'MORTGAGE', 'OWN', 'OTHER']
    if cell not in val:#existe una opcion de otro
        cell = 'OTHER'
    return cell

def ilsCheck(cell):
    val = ['W','F']
    if cell not in val:
        cell = np.nan
    return cell

# def rsCheck(cell):
#     val = ['APPROVED','NOT_APPROVED']
#     if cell not in val:
#         cell = np.nan
#     return cell

def dmCheck(cell):
    val = ['CASH', 'DIRECT_PAY']
    if cell not in val:
        cell = np.nan
    return cell

loansf['home_ownership'] = loansf['home_ownership'].apply(lambda x: hoCheck(x))
loansf['initial_list_status'] = loansf['initial_list_status'].apply(lambda x: ilsCheck(x))
#loansf['reviewStatus'] = loansf['reviewStatus'].apply(lambda x: rsCheck(x))
loansf['disbursement_method'] = loansf['disbursement_method'].apply(lambda x: dmCheck(x))

In [ ]:
# column_types =

## Manejo de NaNs o missings

Maneja los datos de tipos missing. Elije una estrategia adecuada dependiendo del tipo de dato que le asignaste a la columna.

Crea codigo para **guardar** y **cargar** un archivo JSON en el que se guarde la `estrategia` y `valor` que utilizaste para **imputar**. Por ejemplo: Si hay una columna que se llama `columna 3` y utilizaste la estrategia de imputacion de media, y existe otra llamada `columna 4` y  elegiste la palabra 'missing' el JSON debera contener:  
  
 `{'columna 3':{'estrategia':'mean', 'valor':3.4}, 'columna 4':{'estrategia':'identificador', 'valor':'missing'}}`  

 De tal manera que para cada columna que tenga un metodo de imputacion apunte a otro diccionario donde el **key** `estrategia` describa de manera sencilla el metodo, y el **key** `valor` el valor usado. En general:   
 `{'nombre de la columna':{'estrategia':'descripcion de estrategia', 'valor':'valor utilizado'}}`. 
 

De utilizar mas de un metodo puedes anidarlos en una lista  
  `[{...},{...}]`.  

Incluso si la columna utilizada no sufrio imputacion, es necesario que la agregues al JSON.

La idea es que cualquier otra persona pueda cargar el el archivo JSON con tu funcion, entender que hiciste y replicarlo facilmente. No existe solo una respuesta correcta, pero tendras que justificar y explicar tus deciciones.

### Imputacion

In [ ]:
# Tu codigo aqui

#con las imputaciones iremos creando este diccionario :)
diccionarioEstrategias={}


"""
identificador, tienen missing en lugar de nan para que sea de tipo string
valor numerico, le damos un valor para que corran los metodos con esa función
"""

loansf['emp_title'] = loansf['emp_title'].fillna('Unspecified')
diccionarioEstrategias = {'emp_title': {'estrategia': 'identificador', 'valor': 'Unspecified'}}

loansf['emp_length'] = loansf['emp_length'].fillna(0)
diccionarioEstrategias['emp_length'] = {'estrategia': 'valor numerico', 'valor': 0}

loansf['desc'] = loansf['desc'].fillna('missing')
diccionarioEstrategias['desc'] = {'estrategia': 'identificador', 'valor': 'missing'}

loansf['hardship_loan_status'] = loansf['hardship_loan_status'].fillna('missing')
diccionarioEstrategias['hardship_loan_status'] = {'estrategia': 'identificador', 'valor': 'missing'}


loansf['hardship_reason'] = loansf['hardship_reason'].fillna('missing')
diccionarioEstrategias['hardship_reason'] = {'estrategia': 'identificador', 'valor': 'missing'}


loansf['hardship_status'] = loansf['hardship_status'].fillna('unknown')
diccionarioEstrategias['hardship_status'] = {'estrategia': 'rellenar con se desconoce', 'valor': 'unknown'}


loansf['hardship_type'] = loansf['hardship_type'].fillna('missing')
diccionarioEstrategias['hardship_type'] = {'estrategia': 'identificador', 'valor': 'missing'}

loansf['settlement_status'] = loansf['settlement_status'].astype(str)

loansf['settlement_status'] = loansf['settlement_status'].fillna('unknown')
diccionarioEstrategias['settlement_status'] = {'estrategia': 'rellenar con se desconoce', 'valor': 'unknown'}

"\n#es un solo valor \nloansf=loansf.drop('max_bal_bc')\ndiccionarioEstrategias['max_bal_bc']={'estrategia': 'drop', 'valor': 'no aplica'}\n"

In [ ]:
# TUcodigo aqui
print(loansf['hardship_type'].head(10))

0    missing
1    missing
2    missing
3    missing
4    missing
5    missing
6    missing
7    missing
8    missing
9    missing
Name: hardship_type, dtype: object

### Codigo para salvar y cargar JSONs

In [ ]:
import json
with open('estrategias.json', 'w') as fp:
    json.dump(diccionarioEstrategias, fp)# diccionario a json

with open('estrategias.json', 'r') as fp:
    estrategias = json.load(fp) #leer json

print(estrategias)

{'emp_title': {'estrategia': 'identificador', 'valor': 'Unspecified'}, 'emp_length': {'estrategia': 'valor numerico', 'valor': 0}, 'desc': {'estrategia': 'identificador', 'valor': 'missing'}, 'hardship_loan_status': {'estrategia': 'identificador', 'valor': 'missing'}, 'hardship_reason': {'estrategia': 'identificador', 'valor': 'missing'}, 'hardship_status': {'estrategia': 'rellenar con se desconoce', 'valor': 'unknown'}, 'hardship_type': {'estrategia': 'identificador', 'valor': 'missing'}, 'settlement_status': {'estrategia': 'rellenar con se desconoce', 'valor': 'unknown'}}