# Prediccion de Default en Prestamos

Para este proyecto utilizaremos un sample de los datos de Lending Club. La idea es predecir si cierto usuario cometera Default basado en informacion que la plataforma recolecta. Esto nos ayudara a mejorar la metodologia/pipeline de prestamo.

# Descripcion



Contiene los prestamos de esta plataforma:

    periodo 2007-2017Q3.
    887mil observaciones, sample de 100mil
    150 variables
    Target: loan status

# Objetivo

Realizar un ETL y un EDA

## ETL

0. Limpia los datos de tal manera que al final del ETL queden en formato `tidy`.
1. Asegurate de cargar y leer los datos
2. Crea una tabla donde se guarde el nombre de la columna y el tipo de dato: (`column_name`,   `type`).
3. Asegurate de pensar cual es el tipo de dato correcto. Porque elejiste strig/object o float o int?. No hay respuestas incorrectas como tal, pero tienes que justificar tu decision.
4. Maneja missings o nans de la manera adecuada. Justifica cada decision

## EDA

0. Preparar lo datos para un pipeline de datos
1. Quitar columnas inservibles 
2. Imputar valores
3. Mantener replicabildiad y reproducibilidad

**No olvides anotar tus justificaciones en celdas para recordar cuando te toque explicarlo.** Puedes agregar el numero de celdas que necesites para poner tu explicacion y el codigo, solo manten la estructura.

# ETL

In [1]:
import pandas as pd
import numpy as np

Vas a obtener 2 errores, solucionalo con los visto en clase.  
Tip: Se arreglan con argumentos adicionales de la funcion `read_csv`  
Documentacion: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [5]:

# Cargar el archivo con los argumentos adicionales
loans = pd.read_csv(
    'https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true',
    compression='gzip',       # Descomprime el archivo gzip
    on_bad_lines='skip',      # Ignora las lÃ­neas defectuosas
    low_memory=False          # OptimizaciÃ³n para archivos grandes
)

# Mostrar el resultado
loans.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Tabla (column_name, type)

Revisa el metodo pd.DataFrame.dtypes. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [6]:
print(loans.dtypes)

Unnamed: 0                 int64
id                         int64
member_id                float64
loan_amnt                float64
funded_amnt              float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 151, dtype: object

## Cargar descripcion de columnas

La siguiente tabla tiene una descripcion del significado de cada columna

In [7]:


datos_dict = pd.read_excel(
    'https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']

In [8]:
datos_dict

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

### Pickle

Crea codigo para **guardar** y **cargar** el DataFrame de `datos_dict` creada en las celdas anteriores en formato **pickle**

In [9]:
# Guardar el DataFrame en un archivo pickle
datos_dict.to_pickle("datos_dict.pkl")
print("DataFrame guardado en formato pickle.")

DataFrame guardado en formato pickle.

In [10]:
# Cargar el DataFrame desde el archivo pickle
datos_dict_cargado = pd.read_pickle("datos_dict.pkl")
print("DataFrame cargado desde el archivo pickle.")

DataFrame cargado desde el archivo pickle.

## Tipos de Datos

Realiza las transformaciones o casteos (casting) que creas necesarios a tus datos de tal manera que el typo de dato sea adecuado. Al terminar recrea la tabla `column_types` con los nuevos tipos.

No olvides anotar tus justificaciones para recordar cuando te toque explicarlo.

In [13]:
# Assuming your DataFrame is already loaded as 'datos_dict'
df = pd.DataFrame(loans)

unique_dtypes = df.dtypes.unique()

print("Unique Data Types in the DataFrame:")
for dtype in unique_dtypes:
    print(dtype)

Unique Data Types in the DataFrame:
int64
float64
object

In [14]:
# FunciÃ³n para procesar columnas int64 y mostrar estadÃ­sticas detalladas
def process_int64_column(df, column):
    """
    Procesa una columna de tipo int64 en el DataFrame, realiza conversiones,
    calcula estadÃ­sticas y muestra los resultados.

    ParÃ¡metros:
    - df: DataFrame de pandas.
    - column: Nombre de la columna a procesar.
    """
    print(f"\n--- Procesando columna: {column} ---")

    # Convertir a tipo numÃ©rico, ignorando errores (valores no numÃ©ricos -> NaN)
    df[column] = pd.to_numeric(df[column], errors='coerce')

    # Eliminar valores NaN para mantener el tipo entero
    df[column].dropna(inplace=True)

    # Calcular estadÃ­sticas bÃ¡sicas
    stats = {
        'Max': df[column].max(),
        'Min': df[column].min(),
        'Average': df[column].mean(),
        'Std Dev': df[column].std()
    }

    # Calcular cuantiles (percentiles 25, 50 (mediana), y 75)
    quantiles = df[column].quantile([0.25, 0.5, 0.75]).to_dict()
    stats.update({
        '25th Percentile': quantiles[0.25],
        'Median (50th Percentile)': quantiles[0.5],
        '75th Percentile': quantiles[0.75]
    })

    # Mostrar los resultados
    for stat, value in stats.items():
        print(f"{stat}: {value:.2f}")
    print(f"--- Fin del procesamiento de la columna: {column} ---\n")


# Obtener la lista de columnas con tipo de dato int64
int64_columns = [col for col in df.columns if df[col].dtype == 'int64']

# Procesar cada columna int64 encontrada
if int64_columns:
    print("Iniciando procesamiento de columnas int64 en el DataFrame...\n")
    for column in int64_columns:
        process_int64_column(df, column)
    print("Procesamiento completo de todas las columnas int64.")
else:
    print("No se encontraron columnas con tipo de dato 'int64' en el DataFrame.")

Iniciando procesamiento de columnas int64 en el DataFrame...


--- Procesando columna: Unnamed: 0 ---
Max: 99999.00
Min: 0.00
Average: 49999.50
Std Dev: 28867.66
25th Percentile: 24999.75
Median (50th Percentile): 49999.50
75th Percentile: 74999.25
--- Fin del procesamiento de la columna: Unnamed: 0 ---


--- Procesando columna: id ---
Max: 38098114.00
Min: 57167.00
Average: 30299954.28
Std Dev: 4763499.79
25th Percentile: 27370147.00
Median (50th Percentile): 30525558.50
75th Percentile: 34382007.00
--- Fin del procesamiento de la columna: id ---

Procesamiento completo de todas las columnas int64.

In [15]:
# Paso siguiente: Procesamiento de columnas categÃ³ricas
# Especificamos las columnas que consideramos categÃ³ricas
categorical_columns = ["loan_status", "grade", "sub_grade"]  # Ejemplo de columnas categÃ³ricas

# Procesar cada columna categÃ³rica especificada
for col in categorical_columns:
    if col in df.columns:
        df[col] = df[col].astype("category")
        print(f"Columna '{col}' convertida a tipo 'category'.")
    else:
        print(f"Advertencia: La columna '{col}' no se encuentra en el DataFrame y no pudo ser convertida.")

# JustificaciÃ³n: Convertir columnas a `category` ayuda a optimizar el espacio en memoria y facilita su tratamiento
# como datos discretos, especialmente Ãºtil para columnas con valores repetitivos o pocos valores Ãºnicos.

# Guardar el DataFrame procesado en formato pickle para futuras cargas sin pÃ©rdida de tipos de datos
df.to_pickle("processed_data.pkl")
print("\nDataFrame guardado en formato `pickle` como 'processed_data.pkl'.")

# Cargar el DataFrame desde el archivo pickle para verificar
loaded_df = pd.read_pickle("processed_data.pkl")
print("\nDataFrame cargado desde 'processed_data.pkl'. VerificaciÃ³n completa.")

# Crear la tabla `column_types` para registrar los tipos de datos actualizados
column_types = pd.DataFrame({
    'column_name': df.columns,
    'type': df.dtypes
}).reset_index(drop=True)

# Mostrar la tabla `column_types` para revisiÃ³n
print("\nTabla de tipos de columnas despuÃ©s de los procesamientos:")
print(column_types)

# JustificaciÃ³n final: Crear esta tabla permite tener un registro claro de los tipos de datos
# en cada columna del DataFrame, facilitando la referencia y comprobaciÃ³n para futuras transformaciones o anÃ¡lisis.

Columna 'loan_status' convertida a tipo 'category'.
Columna 'grade' convertida a tipo 'category'.
Columna 'sub_grade' convertida a tipo 'category'.

DataFrame guardado en formato `pickle` como 'processed_data.pkl'.

DataFrame cargado desde 'processed_data.pkl'. VerificaciÃ³n completa.

Tabla de tipos de columnas despuÃ©s de los procesamientos:
               column_name     type
0               Unnamed: 0    int64
1                       id    int64
2                member_id  float64
3                loan_amnt  float64
4              funded_amnt  float64
..                     ...      ...
146      settlement_status   object
147        settlement_date   object
148      settlement_amount  float64
149  settlement_percentage  float64
150        settlement_term  float64

[151 rows x 2 columns]

## Manejo de NaNs o missings

Maneja los datos de tipos missing. Elije una estrategia adecuada dependiendo del tipo de dato que le asignaste a la columna.

Crea codigo para **guardar** y **cargar** un archivo JSON en el que se guarde la `estrategia` y `valor` que utilizaste para **imputar**. Por ejemplo: Si hay una columna que se llama `columna 3` y utilizaste la estrategia de imputacion de media, y existe otra llamada `columna 4` y  elegiste la palabra 'missing' el JSON debera contener:  
  
 `{'columna 3':{'estrategia':'mean', 'valor':3.4}, 'columna 4':{'estrategia':'identificador', 'valor':'missing'}}`  

 De tal manera que para cada columna que tenga un metodo de imputacion apunte a otro diccionario donde el **key** `estrategia` describa de manera sencilla el metodo, y el **key** `valor` el valor usado. En general:   
 `{'nombre de la columna':{'estrategia':'descripcion de estrategia', 'valor':'valor utilizado'}}`. 
 

De utilizar mas de un metodo puedes anidarlos en una lista  
  `[{...},{...}]`.  

Incluso si la columna utilizada no sufrio imputacion, es necesario que la agregues al JSON.

La idea es que cualquier otra persona pueda cargar el el archivo JSON con tu funcion, entender que hiciste y replicarlo facilmente. No existe solo una respuesta correcta, pero tendras que justificar y explicar tus deciciones.

### Imputacion

In [17]:

import json

# InicializaciÃ³n del DataFrame de ejemplo (asegÃºrate de tener tu propio DataFrame)
# df = pd.read_csv('tu_archivo.csv')

# Diccionario para almacenar las estrategias de imputaciÃ³n
imputation_strategies = {}

def register_imputation_strategy(column_name, strategy, value):
    """
    Registra la estrategia de imputaciÃ³n utilizada para una columna especÃ­fica en un diccionario.
    
    Args:
    - column_name (str): Nombre de la columna.
    - strategy (str): Estrategia de imputaciÃ³n ('median', 'mode', 'drop', 'none').
    - value (various): Valor utilizado para la imputaciÃ³n o razÃ³n de eliminaciÃ³n.
    """
    imputation_strategies[column_name] = {
        "estrategia": strategy,
        "valor": value
    }

# 1. Procesamiento de columnas numÃ©ricas y categÃ³ricas con datos faltantes
for column in df.columns:
    # Solo procesamos columnas que contengan valores NaN
    if df[column].isna().sum() > 0:
        if df[column].dtype in ['float64', 'int64']:  # Columnas numÃ©ricas
            missing_ratio = df[column].isna().mean()

            # Menos del 50% de valores faltantes: imputaciÃ³n con la mediana
            if missing_ratio < 0.5:
                median_value = df[column].median()
                df[column].fillna(median_value, inplace=True)
                register_imputation_strategy(column, "median", median_value)

            # MÃ¡s del 50% de valores faltantes: eliminaciÃ³n de la columna
            else:
                df.drop(columns=[column], inplace=True)
                register_imputation_strategy(column, "drop", "mÃ¡s del 50% de valores faltantes")

        elif df[column].dtype == 'object':  # Columnas categÃ³ricas
            missing_ratio = df[column].isna().mean()

            # Menos del 50% de valores faltantes: imputaciÃ³n con el valor mÃ¡s frecuente
            if missing_ratio < 0.5:
                mode_value = df[column].mode()[0]
                df[column].fillna(mode_value, inplace=True)
                register_imputation_strategy(column, "mode", mode_value)

            # MÃ¡s del 50% de valores faltantes: eliminaciÃ³n de la columna
            else:
                df.drop(columns=[column], inplace=True)
                register_imputation_strategy(column, "drop", "mÃ¡s del 50% de valores faltantes")

    # Columnas sin datos faltantes
    else:
        register_imputation_strategy(column, "none", "sin NaNs")

# Guardar el registro de estrategias de imputaciÃ³n en un archivo JSON
with open("imputation_strategies.json", "w") as f:
    json.dump(imputation_strategies, f, indent=4)

print("Estrategias de imputaciÃ³n guardadas en 'imputation_strategies.json'.")

Estrategias de imputaciÃ³n guardadas en 'imputation_strategies.json'.

In [18]:
# Guardar el DataFrame final en formato parquet
df.to_parquet('data_final.parquet', index=False, compression='gzip')

# Cargar el DataFrame de nuevo para asegurarse de que los datos se guardaron correctamente
df_loaded = pd.read_parquet('data_final.parquet')
print("Datos cargados correctamente:")
print(df_loaded.head())

Datos cargados correctamente:
   Unnamed: 0        id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0           0  38098114    15000.0      15000.0          15000.0   60 months
1           1  36805548    10400.0      10400.0          10400.0   36 months
2           2  37842129    21425.0      21425.0          21425.0   60 months
3           3  37612354    12800.0      12800.0          12800.0   60 months
4           4  37662224     7650.0       7650.0           7650.0   36 months

   int_rate  installment grade sub_grade  ... percent_bc_gt_75  \
0     12.39       336.64     C        C1  ...              0.0
1      6.99       321.08     A        A3  ...             14.3
2     15.59       516.36     D        D1  ...            100.0
3     17.14       319.08     D        D4  ...            100.0
4     13.66       260.20     C        C3  ...            100.0

  pub_rec_bankruptcies tax_liens  tot_hi_cred_lim total_bal_ex_mort  \
0                  0.0       0.0         196500.0          149140.0
1                  0.0       0.0         179407.0           15030.0
2                  0.0       0.0          57073.0           42315.0
3                  0.0       0.0         368700.0           18007.0
4                  0.0       0.0          82331.0           64426.0

  total_bc_limit total_il_high_credit_limit hardship_flag disbursement_method  \
0        10000.0                    12000.0             N                Cash
1        13000.0                    11325.0             N                Cash
2        15000.0                    35573.0             N                Cash
3         4400.0                    18000.0             N                Cash
4         4900.0                    64031.0             N                Cash

  debt_settlement_flag
0                    N
1                    N
2                    N
3                    N
4                    N

[5 rows x 94 columns]

In [22]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Escalar variables numÃ©ricas entre 0 y 1
scaler = MinMaxScaler()
df_scaled = df.copy()
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
df_scaled[numeric_cols] = scaler.fit_transform(df[numeric_cols])

# Estandarizar variables numÃ©ricas para media 0 y desviaciÃ³n estÃ¡ndar 1
scaler_standard = StandardScaler()
df_standardized = df.copy()
df_standardized[numeric_cols] = scaler_standard.fit_transform(df[numeric_cols])

# Visualizar datos escalados y estandarizados
print("Datos Escalados (0-1):\n", df_scaled.head())
print("\nDatos Estandarizados (media=0, std=1):\n", df_standardized.head())

Datos Escalados (0-1):
    Unnamed: 0        id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0     0.00000  1.000000   0.411765     0.411765         0.411765   60 months
1     0.00001  0.966022   0.276471     0.276471         0.276471   36 months
2     0.00002  0.993271   0.600735     0.600735         0.600735   60 months
3     0.00003  0.987231   0.347059     0.347059         0.347059   60 months
4     0.00004  0.988542   0.195588     0.195588         0.195588   36 months

   int_rate  installment grade sub_grade  ... percent_bc_gt_75  \
0  0.318544     0.222267     C        C1  ...            0.000
1  0.049352     0.210973     A        A3  ...            0.143
2  0.478066     0.352716     D        D1  ...            1.000
3  0.555334     0.209522     D        D4  ...            1.000
4  0.381854     0.166784     C        C3  ...            1.000

  pub_rec_bankruptcies tax_liens  tot_hi_cred_lim total_bal_ex_mort  \
0                  0.0       0.0         0.019474          0.055465
1                  0.0       0.0         0.017764          0.005590
2                  0.0       0.0         0.005528          0.015737
3                  0.0       0.0         0.036697          0.006697
4                  0.0       0.0         0.008055          0.023960

  total_bc_limit total_il_high_credit_limit hardship_flag disbursement_method  \
0       0.021920                   0.013684             N                Cash
1       0.028496                   0.012914             N                Cash
2       0.032880                   0.040564             N                Cash
3       0.009645                   0.020525             N                Cash
4       0.010741                   0.073014             N                Cash

  debt_settlement_flag
0                    N
1                    N
2                    N
3                    N
4                    N

[5 rows x 94 columns]

Datos Estandarizados (media=0, std=1):
    Unnamed: 0        id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0   -1.732033  1.637073   0.013295     0.013295         0.013654   60 months
1   -1.731999  1.365724  -0.527602    -0.527602        -0.527365   36 months
2   -1.731964  1.583334   0.768788     0.768788         0.769316   60 months
3   -1.731930  1.535097  -0.245394    -0.245394        -0.245095   60 months
4   -1.731895  1.545567  -0.850964    -0.850964        -0.850800   36 months

   int_rate  installment grade sub_grade  ... percent_bc_gt_75  \
0 -0.202286    -0.412137     C        C1  ...        -1.439665
1 -1.432302    -0.475825     A        A3  ...        -1.033499
2  0.526612     0.323466     D        D1  ...         1.400660
3  0.879672    -0.484011     D        D4  ...         1.400660
4  0.086995    -0.725010     C        C3  ...         1.400660

  pub_rec_bankruptcies tax_liens  tot_hi_cred_lim total_bal_ex_mort  \
0            -0.339178 -0.147432         0.134109          2.048657
1            -0.339178 -0.147432         0.039049         -0.735868
2            -0.339178 -0.147432        -0.641295         -0.169350
3            -0.339178 -0.147432         1.091776         -0.674056
4            -0.339178 -0.147432        -0.500826          0.289741

  total_bc_limit total_il_high_credit_limit hardship_flag disbursement_method  \
0      -0.524215                  -0.686880             N                Cash
1      -0.382200                  -0.702850             N                Cash
2      -0.287523                  -0.129144             N                Cash
3      -0.789310                  -0.544920             N                Cash
4      -0.765641                   0.544172             N                Cash

  debt_settlement_flag
0                    N
1                    N
2                    N
3                    N
4                    N

[5 rows x 94 columns]

In [24]:
# CodificaciÃ³n One-Hot para variables categÃ³ricas
df_encoded = pd.get_dummies(df, columns=['loan_status', 'grade', 'sub_grade'], drop_first=True)

# AgrupaciÃ³n de categorÃ­as (Ejemplo: Simplificar grados)
df['grade_simplified'] = df['grade'].apply(lambda x: 'High' if x in ['A', 'B'] else 'Low')
print(df[['grade', 'grade_simplified']].head())

  grade grade_simplified
0     C              Low
1     A             High
2     D              Low
3     D              Low
4     C              Low

### Codigo para salvar y cargar JSONs

In [25]:
# Convertir tipos de datos para optimizar memoria
df_optimized = df.copy()

# Convertir columnas numÃ©ricas pequeÃ±as a int8 o int16
for col in df_optimized.select_dtypes(include='int64').columns:
    df_optimized[col] = pd.to_numeric(df_optimized[col], downcast='integer')

# Convertir columnas float grandes a float32 para reducir memoria
for col in df_optimized.select_dtypes(include='float64').columns:
    df_optimized[col] = pd.to_numeric(df_optimized[col], downcast='float')

# Convertir columnas categÃ³ricas en categorÃ­as
for col in df_optimized.select_dtypes(include='object').columns:
    df_optimized[col] = df_optimized[col].astype('category')

print("DataFrame optimizado:\n", df_optimized.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 95 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  100000 non-null  int32
 1   id                          100000 non-null  int32
 2   loan_amnt                   100000 non-null  float32
 3   funded_amnt                 100000 non-null  float32
 4   funded_amnt_inv             100000 non-null  float32
 5   term                        100000 non-null  category
 6   int_rate                    100000 non-null  float32
 7   installment                 100000 non-null  float32
 8   grade                       100000 non-null  category
 9   sub_grade                   100000 non-null  category
 10  emp_title                   100000 non-null  category
 11  emp_length                  100000 non-null  category
 12  home_ownership              100000 non-null  category
 13  annual_inc                  100000 non-null  float64
 14  verification_status         100000 non-null  category
 15  issue_d                     100000 non-null  category
 16  loan_status                 100000 non-null  category
 17  pymnt_plan                  100000 non-null  category
 18  purpose                     100000 non-null  category
 19  title                       100000 non-null  category
 20  zip_code                    100000 non-null  category
 21  addr_state                  100000 non-null  category
 22  dti                         100000 non-null  float32
 23  delinq_2yrs                 100000 non-null  float32
 24  earliest_cr_line            100000 non-null  category
 25  fico_range_low              100000 non-null  float32
 26  fico_range_high             100000 non-null  float32
 27  inq_last_6mths              100000 non-null  float32
 28  mths_since_last_delinq      100000 non-null  float32
 29  open_acc                    100000 non-null  float32
 30  pub_rec                     100000 non-null  float32
 31  revol_bal                   100000 non-null  float32
 32  revol_util                  100000 non-null  float32
 33  total_acc                   100000 non-null  float32
 34  initial_list_status         100000 non-null  category
 35  out_prncp                   100000 non-null  float64
 36  out_prncp_inv               100000 non-null  float64
 37  total_pymnt                 100000 non-null  float64
 38  total_pymnt_inv             100000 non-null  float64
 39  total_rec_prncp             100000 non-null  float64
 40  total_rec_int               100000 non-null  float64
 41  total_rec_late_fee          100000 non-null  float32
 42  recoveries                  100000 non-null  float64
 43  collection_recovery_fee     100000 non-null  float32
 44  last_pymnt_d                100000 non-null  category
 45  last_pymnt_amnt             100000 non-null  float64
 46  last_credit_pull_d          100000 non-null  category
 47  last_fico_range_high        100000 non-null  float32
 48  last_fico_range_low         100000 non-null  float32
 49  collections_12_mths_ex_med  100000 non-null  float32
 50  policy_code                 100000 non-null  float32
 51  application_type            100000 non-null  category
 52  acc_now_delinq              100000 non-null  float32
 53  tot_coll_amt                100000 non-null  float32
 54  tot_cur_bal                 100000 non-null  float32
 55  total_rev_hi_lim            100000 non-null  float32
 56  acc_open_past_24mths        100000 non-null  float32
 57  avg_cur_bal                 100000 non-null  float32
 58  bc_open_to_buy              100000 non-null  float32
 59  bc_util                     100000 non-null  float32
 60  chargeoff_within_12_mths    100000 non-null  float32
 61  delinq_amnt                 100000 non-null  float32
 62  mo_sin_old_il_acct          100000 non-null  float32
 63  mo_sin_old_rev_tl_op        100000 non-null  float32
 64  mo_sin_rcnt_rev_tl_op       100000 non-null  float32
 65  mo_sin_rcnt_tl              100000 non-null  float32
 66  mort_acc                    100000 non-null  float32
 67  mths_since_recent_bc        100000 non-null  float32
 68  mths_since_recent_inq       100000 non-null  float32
 69  num_accts_ever_120_pd       100000 non-null  float32
 70  num_actv_bc_tl              100000 non-null  float32
 71  num_actv_rev_tl             100000 non-null  float32
 72  num_bc_sats                 100000 non-null  float32
 73  num_bc_tl                   100000 non-null  float32
 74  num_il_tl                   100000 non-null  float32
 75  num_op_rev_tl               100000 non-null  float32
 76  num_rev_accts               100000 non-null  float32
 77  num_rev_tl_bal_gt_0         100000 non-null  float32
 78  num_sats                    100000 non-null  float32
 79  num_tl_120dpd_2m            100000 non-null  float32
 80  num_tl_30dpd                100000 non-null  float32
 81  num_tl_90g_dpd_24m          100000 non-null  float32
 82  num_tl_op_past_12m          100000 non-null  float32
 83  pct_tl_nvr_dlq              100000 non-null  float32
 84  percent_bc_gt_75            100000 non-null  float32
 85  pub_rec_bankruptcies        100000 non-null  float32
 86  tax_liens                   100000 non-null  float32
 87  tot_hi_cred_lim             100000 non-null  float32
 88  total_bal_ex_mort           100000 non-null  float32
 89  total_bc_limit              100000 non-null  float32
 90  total_il_high_credit_limit  100000 non-null  float32
 91  hardship_flag               100000 non-null  category
 92  disbursement_method         100000 non-null  category
 93  debt_settlement_flag        100000 non-null  category
 94  grade_simplified            100000 non-null  category
dtypes: category(23), float32(61), float64(9), int32(2)
memory usage: 34.9 MB
DataFrame optimizado:
 None

In [26]:
# Convertir tipos de datos para optimizar memoria
df_optimized = df.copy()

# Convertir columnas numÃ©ricas pequeÃ±as a int8 o int16
for col in df_optimized.select_dtypes(include='int64').columns:
    df_optimized[col] = pd.to_numeric(df_optimized[col], downcast='integer')

# Convertir columnas float grandes a float32 para reducir memoria
for col in df_optimized.select_dtypes(include='float64').columns:
    df_optimized[col] = pd.to_numeric(df_optimized[col], downcast='float')

# Convertir columnas categÃ³ricas en categorÃ­as
for col in df_optimized.select_dtypes(include='object').columns:
    df_optimized[col] = df_optimized[col].astype('category')

print("DataFrame optimizado:\n", df_optimized.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 95 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  100000 non-null  int32
 1   id                          100000 non-null  int32
 2   loan_amnt                   100000 non-null  float32
 3   funded_amnt                 100000 non-null  float32
 4   funded_amnt_inv             100000 non-null  float32
 5   term                        100000 non-null  category
 6   int_rate                    100000 non-null  float32
 7   installment                 100000 non-null  float32
 8   grade                       100000 non-null  category
 9   sub_grade                   100000 non-null  category
 10  emp_title                   100000 non-null  category
 11  emp_length                  100000 non-null  category
 12  home_ownership              100000 non-null  category
 13  annual_inc                  100000 non-null  float64
 14  verification_status         100000 non-null  category
 15  issue_d                     100000 non-null  category
 16  loan_status                 100000 non-null  category
 17  pymnt_plan                  100000 non-null  category
 18  purpose                     100000 non-null  category
 19  title                       100000 non-null  category
 20  zip_code                    100000 non-null  category
 21  addr_state                  100000 non-null  category
 22  dti                         100000 non-null  float32
 23  delinq_2yrs                 100000 non-null  float32
 24  earliest_cr_line            100000 non-null  category
 25  fico_range_low              100000 non-null  float32
 26  fico_range_high             100000 non-null  float32
 27  inq_last_6mths              100000 non-null  float32
 28  mths_since_last_delinq      100000 non-null  float32
 29  open_acc                    100000 non-null  float32
 30  pub_rec                     100000 non-null  float32
 31  revol_bal                   100000 non-null  float32
 32  revol_util                  100000 non-null  float32
 33  total_acc                   100000 non-null  float32
 34  initial_list_status         100000 non-null  category
 35  out_prncp                   100000 non-null  float64
 36  out_prncp_inv               100000 non-null  float64
 37  total_pymnt                 100000 non-null  float64
 38  total_pymnt_inv             100000 non-null  float64
 39  total_rec_prncp             100000 non-null  float64
 40  total_rec_int               100000 non-null  float64
 41  total_rec_late_fee          100000 non-null  float32
 42  recoveries                  100000 non-null  float64
 43  collection_recovery_fee     100000 non-null  float32
 44  last_pymnt_d                100000 non-null  category
 45  last_pymnt_amnt             100000 non-null  float64
 46  last_credit_pull_d          100000 non-null  category
 47  last_fico_range_high        100000 non-null  float32
 48  last_fico_range_low         100000 non-null  float32
 49  collections_12_mths_ex_med  100000 non-null  float32
 50  policy_code                 100000 non-null  float32
 51  application_type            100000 non-null  category
 52  acc_now_delinq              100000 non-null  float32
 53  tot_coll_amt                100000 non-null  float32
 54  tot_cur_bal                 100000 non-null  float32
 55  total_rev_hi_lim            100000 non-null  float32
 56  acc_open_past_24mths        100000 non-null  float32
 57  avg_cur_bal                 100000 non-null  float32
 58  bc_open_to_buy              100000 non-null  float32
 59  bc_util                     100000 non-null  float32
 60  chargeoff_within_12_mths    100000 non-null  float32
 61  delinq_amnt                 100000 non-null  float32
 62  mo_sin_old_il_acct          100000 non-null  float32
 63  mo_sin_old_rev_tl_op        100000 non-null  float32
 64  mo_sin_rcnt_rev_tl_op       100000 non-null  float32
 65  mo_sin_rcnt_tl              100000 non-null  float32
 66  mort_acc                    100000 non-null  float32
 67  mths_since_recent_bc        100000 non-null  float32
 68  mths_since_recent_inq       100000 non-null  float32
 69  num_accts_ever_120_pd       100000 non-null  float32
 70  num_actv_bc_tl              100000 non-null  float32
 71  num_actv_rev_tl             100000 non-null  float32
 72  num_bc_sats                 100000 non-null  float32
 73  num_bc_tl                   100000 non-null  float32
 74  num_il_tl                   100000 non-null  float32
 75  num_op_rev_tl               100000 non-null  float32
 76  num_rev_accts               100000 non-null  float32
 77  num_rev_tl_bal_gt_0         100000 non-null  float32
 78  num_sats                    100000 non-null  float32
 79  num_tl_120dpd_2m            100000 non-null  float32
 80  num_tl_30dpd                100000 non-null  float32
 81  num_tl_90g_dpd_24m          100000 non-null  float32
 82  num_tl_op_past_12m          100000 non-null  float32
 83  pct_tl_nvr_dlq              100000 non-null  float32
 84  percent_bc_gt_75            100000 non-null  float32
 85  pub_rec_bankruptcies        100000 non-null  float32
 86  tax_liens                   100000 non-null  float32
 87  tot_hi_cred_lim             100000 non-null  float32
 88  total_bal_ex_mort           100000 non-null  float32
 89  total_bc_limit              100000 non-null  float32
 90  total_il_high_credit_limit  100000 non-null  float32
 91  hardship_flag               100000 non-null  category
 92  disbursement_method         100000 non-null  category
 93  debt_settlement_flag        100000 non-null  category
 94  grade_simplified            100000 non-null  category
dtypes: category(23), float32(61), float64(9), int32(2)
memory usage: 34.9 MB
DataFrame optimizado:
 None

In [27]:
# Diccionario para documentar cambios
documentacion = {
    "escalado": "Escalado de variables numÃ©ricas a un rango de 0 a 1 usando MinMaxScaler",
    "tipos_optimizados": "Conversiones de columnas a tipos de datos optimizados para ahorrar memoria",
    "imputaciones": "MÃ©todos de imputaciÃ³n especÃ­ficos para valores faltantes",
    "categorias": "CodificaciÃ³n One-Hot para variables categÃ³ricas y agrupaciÃ³n de categorÃ­as"
}

# Guardar documentaciÃ³n en un archivo JSON
with open("documentacion_proceso.json", "w") as json_file:
    json.dump(documentacion, json_file, indent=4)

In [23]:
# FunciÃ³n para guardar datos en un archivo JSON
def guardar_json(data, filename):
    with open(filename, 'w') as f:
        json.dump(data, f, indent=4, ensure_ascii=False)
    print(f"Datos guardados exitosamente en {filename}")

# Ejemplo de uso con un diccionario
datos_dict = {
    "columna1": {"estrategia": "media", "valor": 3.4},
    "columna2": {"estrategia": "moda", "valor": "missing"}
}
guardar_json(datos_dict, "datos.json")

Datos guardados exitosamente en datos.json